Repository Foundation-19/Foundation-19, pull requests merged in 2022-09, with the labels that each got.

#769 fixes panic bunker adjacent shitcode
  code/modules/client/client_procs.dm
  code/modules/mob/login.dm
Labels: Code

#743 no more trams
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53_define.dm
  maps/site53/site53areas.dm
  maps/site53/site53shuttles.dm
Labels: Mapping

#770 door consistency
  maps/site53/z1_admin.dmm
Labels: Mapping

#772 Additions to the SCP-008 and SCP-049 Containments | Some stuff around the lower HCZ
  maps/site53/site53-1.dmm
Labels: Mapping

#774 Bug fixing/changes
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#775 gas injector 2: electric boogaloo
  maps/site53/site53-2.dmm
Labels: Mapping

#780 Medbay Rework
  maps/site53/site53-3.dmm
Labels: Mapping

#777 Modular computer renaming
  code/__defines/machinery.dm
  code/__defines/misc.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/modular_computers/_description.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/access_decrypter.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/news.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/research/designs/designs_circuits.dm
  code/modules/tgui/modules/ntos-only/email.dm
  code/modules/virus2/antibodyanalyser.dm
  nano/templates/computer_fabricator.tmpl
  nano/templates/email_administration.tmpl
  nano/templates/email_client.tmpl
  nano/templates/newscast.tmpl
  nano/templates/ntnet_monitor.tmpl
  tgui/packages/tgui/interfaces/NtosEmailAdministration.js
  tgui/packages/tgui/interfaces/NtosEmailClient.js
  tgui/packages/tgui/interfaces/NtosNewsBrowser.js
Labels: Code, TGUI

#782 LCZ fixes and addtitions
  maps/site53/site53-2.dmm
Labels: Mapping

#788 Chapel
  code/game/jobs/job/civilian_chaplain.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/jobs/security.dm
  maps/site53/site53-2.dmm
Labels: Mapping, Code

#790 Chaos Base armory rework
  code/game/objects/items/weapons/SCP/guns.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Code

#792 HCZ fixes and additions
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#793 MTF Heli fix
  maps/site53/site53-3.dmm
  maps/site53/site53shuttles.dm
  maps/site53/z1_admin.dmm
Labels: Mapping

#794 New Recovery Ward and other
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping
