Repository Foundation-19/Foundation-19, pull requests merged in 2022-07, with the labels that each got.

#241 Engistuff removal, EZ holding addition
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/security.dm
Labels: Mapping

#330 Outfit/Loadout Refactor, Class-D ID Card, Misc Fixes.
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/species/species_hud.dm
  maps/site53/items/cards_ids.dm
  maps/site53/job/jobs/security.dm
  maps/site53/job/outfits.dm
Labels: Code

#332 minor chemist skill buff
  maps/site53/job/jobs/medical.dm
Labels: Code

#323 Adds working SCRAMBLE goggles.
  code/_global_vars/lists/objects.dm
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/research/designs/designs_hud_optical.dm
  code/procs/hud.dm
  icons/SCP/hud_scramble.dmi
  maps/site53/z1_admin.dmm
Labels: Enhancement, Code

#338 fix(closet): proper examine override
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: Runtime, Bugfix

#230 SCP-049/SCP-049-1 changes
  baystation12.dme
  code/__defines/languages.dm
  code/__defines/mobs.dm
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/mob/language/alien/049.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/outsider/scp049.dm
  code/modules/mob/living/carbon/human/species/outsider/scp049_1.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/spells/aimed/049_stopheart.dm
  code/modules/spells/general/049_commune.dm
  code/modules/spells/targeted/049_cure.dm
  code/modules/xenoarcheaology/effects/radiate.dm
Labels: Code

#339 Fix anomalous photos, allowing SCP-096 triggering through pictures.
  code/modules/paperwork/photography.dm
Labels: Bugfix

#354 The game no longer lies about the time it'll take to start
  code/controllers/subsystems/ticker.dm
  code/game/gamemodes/gameticker.dm
Labels: Code

#344 Hop id change fix.
  maps/site53/job/jobs/command.dm
Labels: Code

#353 New guns, fixed inhand sprites, fixed belt overlay, loadout tweaks, misc changes
  baystation12.dme
  code/game/objects/items/weapons/SCP/ammo.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/lists/augments.dm
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/gun.dmi
  maps/site53/items/automatic.dm
  maps/site53/items/bullets.dm
  maps/site53/items/clothing/solgov-under.dm
  maps/site53/items/guns.dm
  maps/site53/items/projectiles.dm
  maps/site53/job/jobs/engineering.dm
  maps/site53/job/jobs/medical.dm
  maps/site53/job/jobs/research.dm
  maps/site53/job/outfits.dm
  maps/site53/structures/closets/security.dm
Labels: Sprites, Code

#367 Minor changes to SCRAMBLE goggles. Third time is the charm.
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/research/designs/designs_hud_optical.dm
Labels: Code

#371 Changes mouse opacity to defines for readibility's sake
  code/__defines/misc.dm
  code/_onclick/click.dm
  code/_onclick/hud/deity.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/global_hud.dm
  code/_onclick/hud/hud_alt.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/human_alt.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/skybox.dm
  code/datums/cinematic.dm
  code/datums/progressbar.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/game/gamemodes/cult/cultify/mob.dm
  code/game/gamemodes/cult/ghosts.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/endgame/nuclear_explosion/nuclear_explosion.dm
  code/game/gamemodes/endgame/supermatter_cascade/portal.dm
  code/game/gamemodes/gameticker.dm
  code/game/machinery/hologram.dm
  code/game/machinery/rotating_alarm.dm
  code/game/movietitles.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/explosion_particles.dm
  code/game/objects/effects/fluids.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/effects/particles/particles.dm
  code/game/objects/effects/projectile/projectile_effects.dm
  code/game/objects/effects/temporaray.dm
  code/game/objects/effects/temporary_effect.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/watercloset.dm
  code/modules/ZAS/Fire.dm
  code/modules/admin/buildmode/_overlay.dm
  code/modules/blob/blob.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/multiz/zmimic/mimic_turf.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/turbolift/turbolift_console.dm
  code/modules/xgm/xgm_gas_data.dm
Labels: Code

#382 Revert "Fix APC's calling area power_change each tick"
  code/modules/power/apc.dm
Labels: Code

#383 Revert "logging added for SMES grounding"
  code/datums/wires/smes.dm
  code/modules/power/smes_construction.dm
Labels: Code

#384 Revert "Changes mouse opacity to defines for readibility's sake"
  code/__defines/misc.dm
  code/_onclick/click.dm
  code/_onclick/hud/deity.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/global_hud.dm
  code/_onclick/hud/hud_alt.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/human_alt.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/skybox.dm
  code/datums/cinematic.dm
  code/datums/progressbar.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/game/gamemodes/cult/cultify/mob.dm
  code/game/gamemodes/cult/ghosts.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/endgame/nuclear_explosion/nuclear_explosion.dm
  code/game/gamemodes/endgame/supermatter_cascade/portal.dm
  code/game/gamemodes/gameticker.dm
  code/game/machinery/hologram.dm
  code/game/machinery/rotating_alarm.dm
  code/game/movietitles.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/misc.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/explosion_particles.dm
  code/game/objects/effects/fluids.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/effects/particles/particles.dm
  code/game/objects/effects/projectile/projectile_effects.dm
  code/game/objects/effects/temporaray.dm
  code/game/objects/effects/temporary_effect.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/watercloset.dm
  code/modules/ZAS/Fire.dm
  code/modules/admin/buildmode/_overlay.dm
  code/modules/blob/blob.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/multiz/zmimic/mimic_turf.dm
  code/modules/overmap/exoplanets/turfs.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/turbolift/turbolift_console.dm
  code/modules/xgm/xgm_gas_data.dm
Labels: Code

#389 Revert "Revert "Fix APC's calling area power_change each tick""
  code/modules/power/apc.dm
Labels: Code

#390 Revert "Revert "logging added for SMES grounding""
  code/datums/wires/smes.dm
  code/modules/power/smes_construction.dm
Labels: Code

#387 Changes the amount of deaths medical has to prevent in its goal.
  code/modules/goals/definitions/department_medical.dm
Labels: Code

#393 renames events for thematic purposes and removes others
  baystation12.dme
  code/_helpers/global_access.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/events/mail.dm
  code/modules/overmap/events/event.dm
Labels: Code

#397 Small runtime fixes
  code/modules/mob/skills/skillset.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Code

#402 Removes peristant filth
  baystation12.dme
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/trash.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/persistence/filth.dm
  code/modules/persistence/persistence_datum_filth.dm
  code/modules/persistence/persistence_datum_filth_trash.dm
Labels: Code

#405 Vision cone perfomance hotfix
  code/modules/mob/living/carbon/human/vision_cone.dm
Labels: Priority: Very High, Code

#398 Fixes some of the things causing the checks to fail
  baystation12.dme
  code/__defines/languages.dm
  code/_global_vars/lists/objects.dm
  code/datums/audio/_tracks.dm
  code/datums/mind.dm
  code/game/jobs/job/captain.dm
  code/game/machinery/deployable.dm
  code/game/machinery/machinery.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/telecomms/traffic_control.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/weapons/SCP/guns.dm
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-131.dm
  code/modules/SCP/SCPs/SCP-263.dm
  code/modules/SCP/SCPs/SCP-294.dm
  code/modules/SCP/SCPs/SCP-343.dm
  code/modules/SCP/SCPs/SCP-999.dm
  code/modules/culture_descriptor/culture/cultures_human.dm
  code/modules/culture_descriptor/location/locations_human.dm
  code/modules/holomap/ship_holomap.dm
  code/modules/mob/language/human/euro.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/power/pacman2.dm
  icons/patron/Hazel_Glasses.dmi
  icons/patron/LabcoatTable.dmi
  icons/patron/fishii_labcoat.dmi
  maps/site53/icons/assignment_hud.dmi
  maps/site53/items/automatic.dm
  maps/site53/items/headsets.dm
  maps/site53/items/items.dm
  maps/site53/items/manuals.dm
  maps/site53/job/jobs/misc.dm
  maps/site53/site53-2.dmm
  maps/site53/structures/closets/command.dm
Labels: Sprites, Code

#401 Fixes misc SCPs not returning anything on initialize and destroy, also removes some useless unit tests
  code/_helpers/lists.dm
  code/game/jobs/job/captain.dm
  code/modules/SCP/SCPs/SCP-012.dm
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-066.dm
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/SCP/SCPs/SCP-106.dm
  code/modules/SCP/SCPs/SCP-1102.dm
  code/modules/SCP/SCPs/SCP-113.dm
  code/modules/SCP/SCPs/SCP-131.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/SCP/SCPs/SCP-263.dm
  code/modules/SCP/SCPs/SCP-294.dm
  code/modules/SCP/SCPs/SCP-343.dm
  code/modules/SCP/SCPs/SCP-420-J.dm
  code/modules/SCP/SCPs/SCP-513.dm
  code/modules/SCP/SCPs/SCP-999.dm
  code/modules/mob/living/carbon/human/species/outsider/scp049.dm
  code/modules/mob/living/carbon/human/species/outsider/scp106.dm
  code/unit_tests/map_tests.dm
  code/unit_tests/unique_tests.dm
  maps/overmap_example/bearcat/bearcat-1.dmm
  maps/overmap_example/bearcat/bearcat-2.dmm
  maps/site53/EZ-Level-1.dmm
  maps/site53/EZ-Level-2.dmm
  maps/site53/job/jobs/command.dm
  maps/site53/job/jobs/misc.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/structures/closets/command.dm
  test/run-test.sh
  tools/ColorHexChecker/CheckColorHex.bat
  tools/ColorHexChecker/color-hex-checker.py
Labels: Code, Tools

#409 Sanitizes ATM shit
  code/modules/economy/ATM.dm
Labels: Code

#408 Makes SCP-related defines global.
  baystation12.dme
  code/__defines/SCP.dm
  code/modules/paperwork/photography.dm
Labels: Code

#413 Adds all prior edits to the Current Map Version.
  maps/site53/site53-1.dmm
Labels: Mapping

#417 Alt titles for Office Worker.
  maps/site53/job/jobs/misc.dm
Labels: Code

#419 Update smes_construction.dm
  code/modules/power/smes_construction.dm
Labels: Code

#418 Re-adds security loadout customization items
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
Labels: Code

#429 fix
  .gitignore
  code/__defines/__compile_options.dm
  code/__defines/_compile_options.dm
  code/modules/client/client_procs.dm
Labels: Code

#430 Fixes generating globals (you still need to point dm.exe path in code
  code/_helpers/global_access.dm
  test/run-test.sh
  tools/GenerateGlobalVarAccess/gen_globals.py
  tools/GenerateGlobalVarAccess/generateGlobalVars.bat
  tools/build/build.js
Labels: Code, Tools

#432 fixes dream checker
  .github/workflows/test.yml
Labels: Github

#433 fixes dream checker for real
  .github/workflows/test.yml
Labels: Github

#434 fixes verbs
  code/controllers/subsystems/ticker.dm
  code/datums/mind/mind.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/login.dm
  code/modules/mob/new_player/menu.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#436 Fixes status bar
  .gitignore
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: Code

#416 Map hotfix
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping, Priority: Very High

#439 Fixes the lobby menu with some adjustments
  code/_global_vars/lists/locations.dm
  code/game/objects/effects/landmarks.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/mob/new_player/menu.dm
  code/modules/mob/new_player/new_player.dm
  icons/turf/walls.dmi
  maps/site53/icons/lobby.dmi
  maps/site53/z1_admin.dmm
Labels: Sprites, Priority: Above Normal, Code

#443 Ladder fix
  code/game/turfs/turf_changing.dm
Labels: Code

#444 Adds more to cig vending machine stock and cig fluff text rewriting
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/examine/descriptions/smokeables.dm
Labels: Code

#415 adds better logging functionality
  code/_helpers/logging.dm
  code/_onclick/item_attack.dm
  code/datums/mind/mind.dm
  code/modules/admin/admin.dm
  code/modules/admin/holder2.dm
  code/modules/admin/topic.dm
  code/modules/client/client_defines.dm
  code/modules/mob/observer/ghost/say.dm
Labels: Code

#447 LCZ/CDZ Rework
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Enhancement, Mapping, Priority: Above Normal

#448 106 hotfix
  code/modules/SCP/SCPs/SCP-106.dm
Labels: Code

#446 Thaumaturge Job
  code/modules/spells/artifacts/monster_manual.dm
  code/modules/spells/spellbook.dm
  code/modules/spells/spellbook/student.dm
  maps/site53/job/jobs/research.dm
  maps/site53/job/outfits.dm
Labels: Code

#449 Removes robe requirement from one spell.
  code/modules/spells/aimed/passage.dm
Labels: Code

#450 Removes 049 NPC behavior stuff
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/mob/living/carbon/human/species/outsider/scp049.dm
Labels: Code

#451 fixes more stuff I broke
  baystation12.dme
  code/__defines/_click.dm
  code/_debugger.dm
  code/_helpers/auxtools.dm
  code/_helpers/global_access.dm
  code/_onclick/click.dm
  code/_onclick/hud/pai.dm
  code/controllers/master.dm
  code/controllers/subsystems/input.dm
  code/controllers/subsystems/statpanel.dm
  code/game/objects/topic.dm
  code/game/world.dm
  code/modules/mob/living/silicon/subsystems.dm
  html/.editorconfig
  html/statbrowser.js
  interface/skin.dmf
  test/run-test.sh
  tgui/packages/tgui-panel/themes.js
Labels: Code, TGUI

#455 hotfix for LCZ/CDZ update
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#453 Changelog
  .github/workflows/make_changelog.yml
  html/changelogs/example.yml
  tools/changelog/generate_cl.py
  tools/changelog/requirements.txt
  tools/changelog/tags.yml
Labels: Github, Tools

#457 Fixes SCP-066 and SCP-263 not knowing the english language
  code/modules/SCP/SCPs/SCP-066.dm
  code/modules/SCP/SCPs/SCP-263.dm
Labels: Code

#406 LCZ HUD Goggle Fix (Goggle spawns in pocket)
  maps/site53/job/outfits.dm
Labels: Mapping

#460 CDZ Perms Fix (hopefully for the last time)
  maps/site53/site53-1.dmm
Labels: Mapping

#458 Changelog (#453)
  .github/workflows/make_changelog.yml
  tools/changelog/generate_cl.py
Labels: Github, Tools

#462 fixes custom ooc colour and cl workflow
  code/datums/communication/ooc.dm
  tools/GenerateChangelog/makeChangelog.bat
  tools/GenerateChangelog/makeChangelog.sh
  tools/GenerateChangelog/ss13_genchangelog.py
  tools/requirements.txt
Labels: Code, Tools

#463 should fix remaining cl errors
  tools/changelog/generate_cl.py
Labels: Tools

#467 CL token replace
  .github/workflows/make_changelog.yml
Labels: Github

#471 Revert "Thaumaturge Job"
  code/modules/spells/artifacts/monster_manual.dm
  code/modules/spells/spellbook.dm
  code/modules/spells/spellbook/student.dm
  maps/site53/job/jobs/research.dm
  maps/site53/job/outfits.dm
Labels: Mapping, Code

#469 What should be the final stretch of unit tests, maybe.
  code/game/jobs/access_datum.dm
  code/game/machinery/_machines_base/machine_construction/_construction.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/security levels/keycard authentication.dm
  code/unit_tests/area_tests.dm
  code/unit_tests/map_tests.dm
  maps/random_ruins/exoplanet_ruins/little_house.dmm
  maps/site53/Chaos-Base-1.dmm
  maps/site53/EZ-Level-1.dmm
  maps/site53/away_mission-1.dmm
  maps/site53/job/access.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53_define.dm
  maps/site53/site53areas.dm
  maps/site53/z1_admin.dmm
  test/run-test.sh
Labels: Mapping, Priority: Very High, Code

#481 Gives gloves to ez security
  maps/site53/job/outfits.dm
Labels: Mapping

#486 Tinkers CDZ medical, adds 2 floodlights for LCZ guards
  maps/site53/site53-1.dmm
Labels: Mapping

#492 Class a amnestics reaction typo bug fix
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_amnestics.dm
Labels: Code

#499 Remove duplicate auto cpr file
  code/game/objects/items/devices/autocpr.dm
Labels: Code

#495 Fix dropping code and SCP-113
  code/modules/SCP/SCPs/SCP-113.dm
  code/modules/keybindings/living.dm
Labels: Code

#496 Makes robots a little bit more neutral.
  code/datums/ai_law_sets.dm
Labels: Code

#498 Adds implant pad to designs
  code/modules/research/designs/designs_implant.dm
Labels: Code

#506 Adds Assorted and SCP Themed flavors to gum and lollipops
  code/modules/clothing/masks/chewable.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drinks.dm
Labels: Code

#505 MTF Fixes and Edits
  code/game/antagonist/outsider/ert.dm
  code/game/jobs/job/captain.dm
  code/game/machinery/deployable.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  maps/site53/items/cards_ids.dm
  maps/site53/items/clothing/platecarriers.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/outfits.dm
Labels: Mapping, Code

#511 Revert "DCZ Medbay, Entrance area, and Sector 7 Changes "
  maps/site53/site53-1.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#510 Adds duct tape to autolathe designs
  code/game/objects/items/weapons/tape.dm
  code/modules/fabrication/designs/general/designs_tools.dm
Labels: Code

#513 Update wall_attacks.dm
  code/game/turfs/simulated/wall_attacks.dm
Labels: Code

#512 Fix blank emote message on spin
  code/modules/emotes/definitions/visible.dm
Labels: Code

#518 HCZ Drip 2 : Return of the King
  code/game/objects/items/weapons/SCP/armor.dm
  icons/mob/onmob/head.dmi
  icons/mob/onmob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/suits.dmi
  maps/site53/job/outfits.dm
Labels: Mapping, Sprites, Code

#517 Fixes issue #376 and #375
  maps/site53/structures/closets/supply.dm
Labels: Mapping

#519 Adjusts Engineering ID Card and Air Alarm Access
  code/game/machinery/alarm.dm
  maps/site53/job/jobs/engineering.dm
Labels: Mapping, Code

#529 Fix Fax Machines, Fixes issues #507, #528
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#531 Reverts AIC lawchanges
  code/datums/ai_law_sets.dm
Labels: Code

#524 Minor mapping updates for SD's office
  maps/site53/site53-4.dmm
Labels: Mapping

#527 fixes faulty hcz hazmat suit onmob sprites
  code/game/objects/items/weapons/SCP/armor.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  maps/site53/job/outfits.dm
Labels: Mapping, Sprites, Code

#534 Revert "fixes faulty hcz hazmat suit onmob sprites"
  code/game/objects/items/weapons/SCP/armor.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  maps/site53/job/outfits.dm
Labels: Mapping, Sprites, Code

#535 pr map dcz
  maps/site53/site53-1.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#536 Fixes Airlock Electronics
  code/game/machinery/doors/airlock_electronics.dm
Labels: Code

#508 MTF Base and Departures Dock changes/buffs
  maps/site53/z1_admin.dmm
Labels: Mapping, Failing Checks

#525 Mentor nerf
  .vscode/launch.json
  code/datums/communication/aooc.dm
  code/datums/communication/donator.dm
  code/datums/communication/dsay.dm
  code/datums/communication/pray.dm
  code/game/gamemodes/game_mode.dm
  code/game/magic/archived_book.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_report.dm
  code/modules/admin/force_rules.dm
  code/modules/admin/ticket.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelpbackup.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/mob/new_player/menu.dm
  code/modules/mob/new_player/poll.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#547 Fixes MTF heli runtime
  code/modules/shuttles/shuttle.dm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53shuttles.dm
  maps/site53/z1_admin.dmm
  tools/build/build.js
Labels: Mapping, Code, Tools

#550 SCP 173 can no longer be buckled
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code

#538 Fix the gitattributes file
  .gitattributes
Labels: Bug, Enhancement, Legacy Bug, Priority: Very High, Bugfix, DO NOT MERGE

#546 Fixes Response Team comms
  code/game/machinery/telecomms/presets.dm
Labels: Code

#548 more dcz changes yay
  maps/site53/site53-1.dmm
Labels: Mapping, Needs Map Review

#569 Adds inflatable popping to 173
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code

#564 re-applies dawson's fix PR for HCZ suit
  code/game/objects/items/weapons/SCP/armor.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  maps/site53/job/outfits.dm
Labels: Mapping, Sprites, Priority: High, Code

#570 Adds panic bunker verb, functionality
  baystation12.dme
  code/controllers/configuration.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
Labels: Code

#572 Fix illegal tech
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/items/weapons/SCP/guns.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/research/designs.dm
  code/modules/research/mechfab_designs.dm
  code/modules/research/stock_parts.dm
Labels: Code

#573 unit tests should work
  maps/site53/site53-1.dmm
Labels: Mapping

#532 AILaw rework(Please merge)
  code/datums/ai_law_sets.dm
Labels: Code, DO NOT MERGE

#576 Makes Crisis robot actually worth using.
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Code

#554 Autoresponse addition
  code/__defines/colors.dm
  code/modules/admin/ticket.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminhelpbackup.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Enhancement, Priority: Above Normal, Code

#577 loadout additions but better
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
Labels: Code

#579 Adds correct channels to flying/forensics borg
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
Labels: Code

#583 wrong operator in panic bunker
  code/modules/client/client_procs.dm
Labels: Code

#591 Fix mob life bug
  code/modules/mob/living/carbon/life.dm
Labels: Code

#581 Alt titles for sec
  maps/site53/job/jobs/security.dm
Labels: Mapping

#589 Autoresponse electric boogaloo 2
  code/modules/admin/topic.dm
Labels: Code

#594 readds fbp whitelist and the things assorted with it
  code/__defines/mobs.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/mob/new_player/new_player.dm
Labels: Code

#522 Removes virologist and virology department
  code/game/jobs/job/medical.dm
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Code, Needs Map Review

#555 EZ entrance changes
  maps/site53/site53-3.dmm
Labels: Mapping, Needs Map Review

#556 Fixes the D-Class Janitorial closet
  maps/site53/site53-1.dmm
Labels: Mapping, Needs Map Review

#582 Fixes the self destruct power
  maps/site53/site53-1.dmm
Labels: Mapping

#593 LCZ Rock Replacement
  maps/site53/site53-1.dmm
Labels: Mapping

#599 chat darkmode admin pm color change
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
Labels: TGUI

#600 tickets hotfix
  code/modules/admin/topic.dm
Labels: Code

#597 Fixes the unit tests (part a billion)
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping
