Repository Foundation-19/Foundation-19, pull requests merged in 2022-12, with the labels that each got.

#923 Fbp selection tweaks
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/mob/new_player/new_player.dm
Labels: Code

#925 Poglog
  code/modules/SCP/SCPs/SCP-294.dm
Labels: Code

#927 this CI sucks
  .github/workflows/test.yml
Labels: Github

#926 Make SMES grounding tick a debug log
  code/modules/power/smes_construction.dm
Labels: Code

#921 Bar, Surface Outdoor Bar
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
Labels: Mapping

#929 the 500 HCZ pr to end all 500 HCZ prs
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#934 actually makes it run
  .github/workflows/test.yml
Labels: Github

#939 revert the ci thing
  .github/workflows/test.yml
Labels: Github

#935 Making the 500 HCZ cell more intruder proof while even fixing power.
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#936 small fixes
  code/modules/SCP/SCPs/SCP-294.dm
  code/modules/admin/admin_verbs.dm
Labels: Code

#931 Improves Hot Foods vending machine
  code/game/machinery/vending.dm
Labels: Code
