Repository Foundation-19/Foundation-19, pull requests merged in 2022-10, with the labels that each got.

#799 Removes the ability of mentors to cancel votes
  code/controllers/subsystems/vote.dm
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Code, TGUI

#806 removes some more tegu legacy
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: Github

#808 Fixes Email Clients not generating logins/AIC eye toggle
  code/game/jobs/job_controller.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/observer/freelook/ai/eye.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/tgui/modules/ntos-only/configurator.dm
Labels: Code

#813 Scp-173-officialnerf
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code

#814 Adds an Electric Stove to the Entrance Zone Kitchen
  maps/site53/site53-2.dmm
Labels: Mapping

#817 Revert "Non-human can no longer be antags."
  code/game/antagonist/antagonist.dm
Labels: Code

#818 Getting logs fixed
  baystation12.dme
  code/_helpers/files.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
Labels: Code

#819 Updates site53-3.dmm and site53areas.dm (Medical+Security Checkpoint Tweaks)
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#826 Modified/Feat: Rhino caliber corrections, Security main radio and Rep
  code/game/objects/items/weapons/SCP/ammo.dm
  code/game/objects/items/weapons/storage/belt.dm
  maps/site53/items/guns.dm
  maps/site53/job/headsets.dm
  maps/site53/job/outfits.dm
Labels: Mapping, Code

#822 Feat : Checkpoint Mapping
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#831 Move skips to scp folder, replace scp-500 pills with a pill bottle of them
  baystation12.dme
  code/modules/SCP/SCPs/SCP-013.dm
  code/modules/SCP/SCPs/SCP-500.dm
  maps/site53/items/clothes.dm
  maps/site53/items/clothing/platecarriers.dm
  maps/site53/site53-2.dmm
Labels: Mapping, Code

#829 Adding 5 plant analyzers and 3 Reagent Scanners to Class D Botany [QOL]
  maps/site53/site53-1.dmm
Labels: Mapping

#833 Checkpoint access fixes, walls changes, sidearms in armoury
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#839 Fix decapitation being able to kill you after you respawn
  code/datums/mind.dm
  code/modules/mob/observer/ghost/ghost.dm
  test/check-paths.sh
Labels: Code
