Repository Foundation-19/Foundation-19, pull requests merged in 2022-11, with the labels that each got.

#845 Tank fixes and additions
  code/__defines/atmos.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tanks.dm
Labels: Code

#851 EZ small improvements
  maps/site53/job/outfits.dm
  maps/site53/site53-3.dmm
Labels: Mapping

#846 GGarciaECE:Checkpoint-Remapping-+-New-Guns+MISC
  code/game/objects/items/weapons/SCP/ammo.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/gun.dmi
  maps/site53/items/automatic.dm
  maps/site53/items/bullets.dm
  maps/site53/items/guns.dm
  maps/site53/items/projectiles.dm
  maps/site53/job/outfits.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/structures/closets/security.dm
Labels: Mapping, Sprites, Code

#852 CDC Mapping improvement
  icons/obj/ammo.dmi
  maps/site53/site53-1.dmm
Labels: Mapping, Sprites

#853 Fix EZ Medbay storage gravity
  maps/site53/site53-3.dmm
Labels: Mapping

#857 Changes to how pencode handles logos
  code/_helpers/text.dm
  code/modules/asset_cache/assets/on_join.dm
  code/modules/codex/entries/paperwork.dm
  code/modules/paperwork/adminpaper.dm
  html/images/FleetLogo.png
  html/images/bluentlogo.png
  html/images/daislogo.png
  html/images/dea.png
  html/images/eclogo.png
  html/images/exologo.png
  html/images/man.png
  html/images/ntlogo.png
  html/images/sfplogo.png
  html/images/sollogo.png
  html/images/talisman.png
  html/images/terralogo.png
  html/images/xynlogo.png
Labels: Code

#832 The trashening-Fixes trash oversights and removes trash chutes.
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
Labels: Mapping

#861 O5/Ethics Rework
  code/game/antagonist/station/apostle.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/traitor.dm
  code/game/jobs/job/captain.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/outfits.dm
  maps/site53/site53-3.dmm
Labels: Mapping, Code

#862 Planemasters + filters + VC
  baystation12.dme
  code/__defines/_lists.dm
  code/__defines/_planes+layers.dm
  code/__defines/filters.dm
  code/_macros.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/zcopy.dm
  code/game/objects/structures/catwalk.dm
  code/modules/SCP/SCPs/SCP-012.dm
  code/modules/SCP/SCPs/SCP-999.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/vision_cone.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/power/cable.dm
  code/modules/power/power.dm
  code/modules/recycling/disposalpipe.dm
  code/procs/hud.dm
  icons/effects/lighting_overlay.dmi
  icons/mob/hide.dmi
Labels: Sprites, Code

#871 Airlock plane hotfix
  code/game/machinery/doors/door.dm
Labels: Code

#872 Small map fixes
  code/game/machinery/doors/blast_door.dm
  maps/site53/site53-3.dmm
Labels: Mapping, Code

#838 Improves Access for Engineering & Other Related Staff
  code/datums/supplypacks/engineering.dm
  code/datums/supplypacks/operations.dm
  code/game/machinery/alarm.dm
  code/game/machinery/computer/RCON_Console.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/singularity/emitter.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/shieldgen/shieldwallgen.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/jobs/engineering.dm
  maps/site53/structures/closets/engineering.dm
  maps/~mapsystem/maps.dm
Labels: Mapping, Code

#854 Re-does centcom/MTF base, again.
  maps/site53/z1_admin.dmm
Labels: Mapping

#874 Disabled 173 on lowpop
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#875 Get windbombed
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/mob.dm
Labels: Code

#877 Clothes thickness fix
  code/game/objects/items/weapons/SCP/clothing.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/security.dm
  maps/site53/items/clothes.dm
  maps/site53/job/outfits.dm
Labels: Mapping, Code

#878 Skill Math fix
  code/__defines/skills.dm
  code/modules/mob/skills/antag_skill_setter.dm
  code/modules/mob/skills/skillset.dm
Labels: Code

#870 Chestbrains for Synths.
  code/modules/organs/internal/species/fbp.dm
  code/modules/surgery/robotics.dm
Labels: Code

#879 Armor rebalance
  code/game/objects/items/weapons/SCP/armor.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/site53/items/bullets.dm
  maps/site53/items/clothing/platecarriers.dm
Labels: Mapping, Code

#894 Fix photocopies/faxes of 096 photo
  code/modules/paperwork/photography.dm
Labels: Code

#880 /tg/ garbage subsystem port
  baystation12.dme
  code/__defines/__compile_options.dm
  code/__defines/qdel.dm
  code/__defines/time.dm
  code/_helpers/logging.dm
  code/_macros.dm
  code/_onclick/hud/hud.dm
  code/controllers/subsystems/garbage.dm
  code/datums/datum.dm
  code/datums/reference_tracking.dm
  code/modules/admin/secrets/debug/toggle_harddel.dm
Labels: Code

#896 fix chameleon items not showing disguised icon on examined mob
  code/game/objects/items.dm
Labels: Code

#898 Dynamic painkiller on-hud effects
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external_icons.dm
Labels: Code

#884 Remapsies [TM ONLY FOR NOW]
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#904 Better 012 can_affect check
  code/modules/SCP/SCPs/SCP-012.dm
Labels: Code

#893 Rig fixes
  code/modules/clothing/spacesuits/rig/rig.dm
Labels: Code

#911 Fix hud augments & loadout selection content
  code/modules/augment/active/hudimplants.dm
  code/modules/client/preference_setup/loadout/lists/augments.dm
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: Code
