Repository Foundation-19/Foundation-19, pull requests merged in 2022-08, with the labels that each got.

#601 Removes virologist job
  maps/site53/items/cards_ids.dm
  maps/site53/job/jobs/medical.dm
  maps/site53/job/outfits.dm
Labels: Mapping

#596 Disables 096
  maps/site53/site53-2.dmm
Labels: Mapping

#608 Gives the Flying/Forensic robot the ability to use the autopsy scanner
  code/game/objects/items/weapons/autopsy.dm
Labels: Code

#575 Enables psi amp in uplink
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Code

#603 Fixes the adrenaline implant
  code/game/objects/items/weapons/implants/implants/adrenaline.dm
Labels: Code

#605 Updates the README.md to be a little less Tegu, a little more F19
  .github/assets/f19.png
  README.md
Labels: Github

#606 All TECH_ILLEGAL is gone, now all TECH_ESOTERIC
  maps/site53/items/automatic.dm
  maps/site53/items/guns.dm
Labels: Mapping

#607 Face surgery borked, can now repair faces
  code/modules/surgery/face.dm
Labels: Code

#604 The sciencing! - EXO > SCP conversions, outfit changes, alt titles for RD (and SD!)
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/accessories/tunic.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/jobs/research.dm
  maps/site53/job/outfits.dm
Labels: Mapping, Code

#611 Fixes a bug: reinforcement takes 5 nanopaste instead of 100
  code/modules/surgery/robotics.dm
Labels: Code

#609 Improves SCP-096's cell security and re-adds him + fixes engi cam network and removes vox gloves from lockers
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  maps/site53/site53-2.dmm
  maps/site53/site53_presets.dm
Labels: Mapping, Code

#616 Fixes a bad port
  code/modules/organs/internal/species/fbp.dm
Labels: Code

#623 makes binary key uplink only
  code/modules/research/designs.dm
  code/modules/research/designs/designs_singletons.dm
Labels: Code

#624 Adds SRT, JRT, 1RT
  maps/site53/job/jobs/research.dm
  maps/site53/job/outfits.dm
Labels: Mapping

#622 Adds two scrubbers in CDZ chem
  maps/site53/site53-1.dmm
Labels: Mapping

#628 robotics QoL
  maps/site53/site53-2.dmm
Labels: Mapping

#618 Communications Tower access changes. Assorted Airlocks and Buttons.
  maps/site53/site53-4.dmm
Labels: Mapping

#631 Mentor Nerf 2: Electric Boogaloo
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#647 HCZ equipment mapping changes
  maps/site53/site53-2.dmm
Labels: Mapping

#661 Fixes Old TEGU Icons
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Sprites

#660 Fixes succumb
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code

#658 Fix shrapnel shot from
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: Code

#639 Remove ERT Code that makes it so you can't call the shuttle for 30 minutes
  baystation12.dme
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_helpers.dm
  code/controllers/evacuation/evacuation_predicate.dm
  code/game/response_team.dm
Labels: Code

#649 Buffs Mech Armour/Components, increases mech component cost
  code/game/machinery/robotics_fabricator.dm
  code/modules/mechs/components/armour.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mechs/premade/powerloader.dm
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

#659 Cremating speeds up respawn
  code/game/objects/structures/morgue.dm
Labels: Code

#663 Admins without R_MOD couldn't access Player Panel
  code/modules/admin/player_panel/player_panel.dm
Labels: Code

#673 SCP jobbans + banpanel fixes
  code/controllers/subsystems/jobs.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/banjob.dm
  code/modules/admin/topic.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#676 PP hotfix
  code/modules/admin/player_panel/player_panel.dm
Labels: Code

#674 Does a bunch of tiny stuff (the mappening)
  code/_helpers/text.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/modules/asset_cache/assets/on_join.dm
  code/modules/paperwork/adminpaper.dm
  html/images/ar.png
  html/images/ci.png
  html/images/cotbg.png
  html/images/sh.png
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping, Code

#666 Server shutdown verb
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Code

#681 Player-Panel fixes
  code/modules/admin/player_panel/player_panel.dm
Labels: Code

#684 Warn and Ban are back
  code/modules/admin/player_panel/actions/punish.dm
  code/modules/random_map/_random_map_setup.dm
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: Code, TGUI

#675 updates CEs locker
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Code

#685 PP Fixes
  baystation12.dme
  code/modules/admin/player_panel/actions/dna.dm
  code/modules/admin/player_panel/actions/general.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/verbs/adminjump.dm
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: Code, TGUI

#683 LCZ prep mapping tweaks (reading warnings edition)
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
Labels: Mapping

#696 PP, lobby fixes along with small sa refactor
  code/modules/admin/player_panel/player_panel.dm
  code/modules/mob/new_player/menu.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/tgui/states/admin.dm
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: Code, TGUI

#703 fix(new_player): loc is no longer null
  code/modules/mob/new_player/login.dm
Labels: Code

#709 Update CentCom, add O5 rooms
  maps/site53/z1_admin.dmm
Labels: Mapping

#727 Fix SCP-049 skills
  code/modules/SCP/SCPs/SCP-049.dm
Labels: Code

#728 Add Holopad on all maps
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#735 Dbcon fixes part 2
  code/game/magic/archived_book.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/verbs/check_customitem_activity.dm
  code/modules/client/client_procs.dm
  code/procs/statistics.dm
Labels: Code, Bugfix

#738 Mentorhelp QOL change
  code/modules/admin/mentor_verbs.dm
  code/modules/admin/verbs/adminsay.dm
Labels: Code

#699 EZ Auditor/Detective Take 2
  baystation12.dme
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/clothing/gloves/miscellaneous.dm
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/obj_belt_overlays.dmi
  icons/obj/gun.dmi
  maps/site53/items/guns.dm
  maps/site53/job/jobs/security.dm
  maps/site53/job/outfits.dm
Labels: Mapping, Sprites, Code

#752 Fixes admin ghosts being unable to interact with modular computers
  code/modules/modular_computers/computers/modular_computer/interaction.dm
Labels: Code

#760 008 Buffs but it works this time
  code/modules/species/outsider/zombie.dm
Labels: Code

#669 Marshall, Carter, and Dark Corporate Liaison (Actual GOI Rep)
  code/_helpers/text.dm
  code/game/jobs/job/captain.dm
  code/modules/asset_cache/assets/on_join.dm
  html/images/mcd4.png
  maps/site53/job/headsets.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/outfits.dm
  maps/site53/site53_define.dm
Labels: Mapping, Code

#764 Slight 096 rework
  code/_macros.dm
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/paperwork/photography.dm
  icons/SCP/scp-096.dmi
Labels: Sprites, Code
