Repository Foundation-19/Foundation-19, pull requests merged in 2023-03, with the labels that each got.

#1000 173 Blink HUD
  code/__defines/misc.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/procs/hud.dm
  icons/mob/hud_blink.dmi
Labels: Sprites, Code

#995 adds plastic
  maps/site53/site53-2.dmm
Labels: Mapping

#1003 Fixes `Change UI` verb
  code/modules/client/ui_style.dm
Labels: Code

#956 Improvements to Barsign
  code/game/objects/items/weapons/SCP/barsign.dm
  code/game/objects/structures/barsign.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  icons/obj/barsigns.dmi
  maps/site53/job/jobs/misc.dm
Labels: Mapping, Sprites, Code

#987 Improves currency system
  code/game/gamemodes/newobjective.dm
  code/game/objects/random/random.dm
  code/modules/economy/cash.dm
  code/modules/mob/living/carbon/hallucinations.dm
  icons/obj/cash.dmi
  icons/obj/items.dmi
  maps/~mapsystem/maps.dm
Labels: Mapping, Sprites, Code

#1004 173 Cage Rework
  code/modules/SCP/SCPs/SCP-173.dm
  code/procs/hud.dm
  icons/SCP/cage.dmi
Labels: Sprites, Code

#998 Ammo refactor
  baystation12.dme
  code/game/objects/items/weapons/SCP/ammo.dm
  code/game/objects/items/weapons/SCP/guns.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  maps/site53/items/automatic.dm
  maps/site53/items/bullets.dm
  maps/site53/items/guns.dm
  maps/site53/items/projectiles.dm
Labels: Mapping, Code

#1012 Fixes up Emag
  code/__defines/misc.dm
  code/game/atoms.dm
  code/game/machinery/nuke_cylinder_dispenser.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/random/random.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/secure.dm
Labels: Code

#1016 Sound indicators for things happening behind you
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/_helpers/sound_effects.dm
  code/_onclick/hud/human.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/footsteps.dm
  code/modules/projectiles/gun.dm
  icons/effects/sound_effect.dmi
Labels: Sprites, Code

#990 Overhaul of event system and events
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/global_access.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/event.dm
  code/controllers/subsystems/skybox.dm
  code/datums/uplink/services.dm
  code/game/area/areas.dm
  code/game/gamemodes/events.dm
  code/game/gamemodes/events/PortalStorm.dm
  code/game/gamemodes/events/clang.dm
  code/game/gamemodes/events/holidays/Holidays.dm
  code/game/gamemodes/events/holidays/Other.dm
  code/game/gamemodes/events/wormholes.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/portals.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/secrets/fun_secrets/break_all_lights.dm
  code/modules/admin/secrets/fun_secrets/break_some_lights.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/economy/Events_Mundane.dm
  code/modules/events/apc_damage.dm
  code/modules/events/blob.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/camera_damage.dm
  code/modules/events/carp_migration.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/dust.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/email_spam.dm
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/events/exo_awakening/_datums.dm
  code/modules/events/exo_awakening/exo_awaken.dm
  code/modules/events/gravity.dm
  code/modules/events/ion_storm.dm
  code/modules/events/mail.dm
  code/modules/events/meteors.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_spam.dm
  code/modules/events/prison_break.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/scipnet.dm
  code/modules/events/solar_storm.dm
  code/modules/events/spacevine.dm
  code/modules/events/spontaneous_appendicitis.dm
  code/modules/events/toilets.dm
  code/modules/events/wallrot.dm
  code/modules/events/whale_migration.dm
  code/modules/events/wormholes.dm
  code/modules/overmap/events/event.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/psionics/events/_psi.dm
  code/modules/psionics/events/memetic_spasm.dm
  code/procs/announce.dm
  maps/site53/site53_announcements.dm
  maps/~mapsystem/maps_announcements.dm
Labels: Mapping, Code

#999 SCP-999 minor improvements
  code/modules/SCP/SCPs/SCP-999.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_antidepressants.dm
Labels: Code

#1007 Major codex improvements
  baystation12.dme
  code/controllers/subsystems/initialization/codex.dm
  code/game/objects/items/traitor_plush.dm
  code/modules/codex/categories/category_reagents.dm
  code/modules/codex/codex_atom.dm
  code/modules/codex/codex_client.dm
  code/modules/codex/codex_implant.dm
  code/modules/codex/codex_mob.dm
  code/modules/codex/entries/_codex_entry.dm
  code/modules/codex/entries/antagonists.dm
  code/modules/codex/entries/ascent.dm
  code/modules/codex/entries/atmospherics.dm
  code/modules/codex/entries/augments.dm
  code/modules/codex/entries/engineering.dm
  code/modules/codex/entries/guns.dm
  code/modules/codex/entries/implants.dm
  code/modules/codex/entries/jukebox.dm
  code/modules/codex/entries/machinery.dm
  code/modules/codex/entries/medical.dm
  code/modules/codex/entries/misc.dm
  code/modules/codex/entries/mobs.dm
  code/modules/codex/entries/paperwork.dm
  code/modules/codex/entries/radio.dm
  code/modules/codex/entries/stacks.dm
  code/modules/codex/entries/structures.dm
  code/modules/codex/entries/tools.dm
  code/modules/codex/entries/weapons.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_cryogenic.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_special.dm
  code/modules/reagents/Chemistry-Reagents/toxins/_toxins_base.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_botany.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_misc.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_narcotics.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_sedatives.dm
Labels: Code
