Repository Foundation-19/Foundation-19, pull requests merged in 2023-05, with the labels that each got.

#1132 Changes objectives code slightly/better objectives (dont perma me)
  code/game/gamemodes/objective.dm
Labels: Code

#1144 Invoke async on full breach
  code/game/area/areas.dm
Labels: Code

#1143 Ports abstract functionality from baystation.
  baystation12.dme
  code/__defines/subsystems.dm
  code/core/datum/IsAbstract.dm
  code/game/atoms.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/storage.dm
  maps/site53/items/accesories.dm
  packs/faction_iccgn/badges.dm
  packs/faction_iccgn/clothing.dm
  packs/faction_iccgn/patches.dm
  packs/faction_iccgn/ranks.dm
Labels: Mapping, Code

#1139 Fix R_MOD skill panel
  code/modules/mob/skills/skill_ui.dm
Labels: Code

#1116 173 AI Rework
  code/game/turfs/turf.dm
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code, Test-Merged

#1130 Paperwork Items Fixed!
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1149 Nerfs D-class chem rushing
  code/modules/mob/skills/skill.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_acids.dm
  code/modules/reagents/dispenser/dispenser2.dm
Labels: Code

#1150 Holopad updates
  code/game/machinery/hologram.dm
  code/modules/admin/view_variables/vv_set_handlers.dm
Labels: Code

#1147 Fixes SCPs breaking machinery
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/SCP/SCPs/SCP-2427-3.dm
  code/modules/SCP/SCPs/SCP-457.dm
  code/modules/SCP/SCPs/SCP-966.dm
  code/modules/power/singularity/collector.dm
  code/modules/recycling/conveyor2.dm
Labels: Code

#1152 Acid rework + Bug Fix
  code/_onclick/hud/screen_objects.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/events/black_hole.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/force_portal.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/manifest.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/effects/portals.dm
  code/game/objects/effects/projectile/projectile_effects.dm
  code/game/objects/items/weapons/SCP/armor.dm
  code/game/objects/items/weapons/SCP/helmet.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/objs.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/fountain.dm
  code/game/objects/structures/showcase.dm
  code/modules/SCP/SCPs/SCP-106.dm
  code/modules/augment/active/armblades.dm
  code/modules/augment/active/popout_shotgun.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/prescription.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/singularity.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_acids.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/drinks/jar.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/shieldgen/shieldwallgen.dm
  code/modules/shuttles/landmarks.dm
  code/modules/spells/aoe_turf/conjure/forcewall.dm
  code/modules/spells/general/mark_recall.dm
  code/modules/spells/targeted/cleric_spells.dm
Labels: Code

#1126 LCZ Armoury Riot Shotgun -> Saiga 12 / P90 Full Auto Re-Enabled / MTF ERT Alpha 1 Beret Armoured / Slight LCZ Armoury mapping
  code/game/objects/items/weapons/SCP/guns.dm
  maps/site53/items/clothing/solgov-head.dm
  maps/site53/site53-2.dmm
  maps/site53/structures/closets/security.dm
Labels: Mapping, Code, Test-Merged

#1160 Ticker fix for not restarting on mode setup fail
  code/controllers/subsystems/ticker.dm
Labels: Code

#1161 Ammo optimization
  code/modules/item_worth/value_procs.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/guns/projectile/flaregun.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: Code, Test-Merged

#1155 Returns missing Ascent stuff
  baystation12.dme
  code/modules/ascent/ascent_id.dm
  code/modules/ascent/ascent_outfit.dm
  code/modules/ascent/ascent_props.dm
Labels: Code, Test-Merged

#1164 Tactical reload fix
  code/modules/projectiles/guns/projectile.dm
Labels: Code

#1163 Sound refactor
  code/__defines/sound.dm
  code/_global_vars/lists/flavor.dm
  code/_global_vars/lists/sound.dm
  code/game/sound.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Code, Test-Merged

#1158 makes CDZ mining bigger and better (this is so fucking shit)
  baystation12.dme
  code/game/objects/structures/statue.dm
  maps/site53/site53-1.dmm
Labels: Mapping, Code

#1169 Some signal additions
  code/__defines/dcs/signals.dm
  code/datums/observation/entered.dm
  code/datums/observation/exited.dm
  code/game/atoms_movable.dm
  code/modules/mob/mob_movement.dm
Labels: Code

#1159 makes nanoUI more immersive
  code/modules/modular_computers/file_system/programs/generic/crew_manifest.dm
  code/modules/modular_computers/file_system/programs/generic/game.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  nano/images/uiBackground-Syndicate.png
  nano/images/uiBackground-Traitor.png
  nano/images/uiBackground.png
  nano/images/uiBasicBackground.png
  nano/images/uiTitleFluff-Syndicate.png
  nano/images/uiTitleFluff-Traitor.png
  nano/images/uiTitleFluff.png
  nano/js/nano_base_helpers.js
Labels: Code, Test-Merged

#1173 Nano update hotfix
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/modular_computers/file_system/manifest.dm
  html/browser/common.css
  nano/css/layout_basic.css
  nano/css/layout_default.css
  nano/css/shared.css
Labels: Code

#1174 Nerf T12
  code/modules/projectiles/projectile/bullets.dm
Labels: Code

#1176 Revert #1173, revert #1159
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/modular_computers/file_system/manifest.dm
  html/browser/common.css
  nano/css/layout_basic.css
  nano/css/layout_default.css
  nano/css/shared.css
  nano/images/uiBackground-Syndicate.png
  nano/images/uiBackground-Traitor.png
  nano/images/uiBackground.png
  nano/images/uiBasicBackground.png
  nano/images/uiTitleFluff-Syndicate.png
  nano/images/uiTitleFluff-Traitor.png
  nano/images/uiTitleFluff.png
  nano/js/nano_base_helpers.js
Labels: Code
