Repository Foundation-19/Foundation-19, pull requests merged in 2023-01, with the labels that each got.

#937 Scp 500 bugfix
  code/modules/SCP/SCPs/SCP-500.dm
  code/modules/reagents/Chemistry-Grinder.dm
Labels: Code

#946 Remove unneeded reagent files.
  baystation12.dme
  code/__defines/chemistry.dm
  code/modules/SCP/SCPs/SCP-013.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Helpers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_fluff.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Code

#949 Graf's SCP placeholders
  baystation12.dme
  code/modules/SCP/SCPs/SCP-017.dm
  code/modules/SCP/SCPs/SCP-080.dm
  code/modules/SCP/SCPs/SCP-1499.dm
  code/modules/SCP/SCPs/SCP-178.dm
  code/modules/SCP/SCPs/SCP-280.dm
  code/modules/SCP/SCPs/SCP-399.dm
  code/modules/SCP/SCPs/SCP-714.dm
  icons/SCP/scp-017.dmi
  icons/SCP/scp-080.dmi
  icons/SCP/scp-1499.dmi
  icons/SCP/scp-178.dmi
  icons/SCP/scp-280.dmi
  icons/SCP/scp-399.dmi
  icons/SCP/scp-714.dmi
Labels: Sprites, Code

#940 Sanity Framework.
  baystation12.dme
  code/__defines/chemistry.dm
  code/__defines/mobs.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/game/atoms_health.dm
  code/game/sound.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/internal/brain.dm
  code/modules/reagents/Chemistry-Reagents/Random/random_effects.dm
  code/modules/reagents/Chemistry-Reagents/medicines/_medicines_base.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_amnestics.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_antidepressants.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_fluff.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_stimulants.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_drugs.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/species/outsider/zombie.dm
  code/modules/species/species_hud.dm
  icons/mob/status_sanity.dmi
Labels: Sprites, Code

#948 Improves SCP-500's label
  code/modules/SCP/SCPs/SCP-500.dm
Labels: Code

#930 Amnestics overhaul, including new amnestics
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_amnestics.dm
  code/modules/reagents/Chemistry-Recipes.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/z1_admin.dmm
Labels: Mapping, Code

#951 add sanity check to sanity
  code/modules/organs/internal/brain.dm
Labels: Code

#950 Codex lore-text changes to fit Foundation lore
  code/modules/clothing/chameleon.dm
  code/modules/codex/categories/category_cultures.dm
  code/modules/codex/categories/category_languages.dm
  code/modules/codex/categories/category_recipes.dm
  code/modules/codex/categories/category_species.dm
  code/modules/codex/entries/clothing.dm
  code/modules/codex/entries/codex.dm
  code/modules/codex/entries/engineering.dm
  code/modules/codex/entries/guns.dm
  code/modules/codex/entries/jukebox.dm
  code/modules/codex/entries/machinery.dm
  code/modules/codex/entries/misc.dm
  code/modules/codex/entries/stacks.dm
  code/modules/codex/entries/tools.dm
Labels: Code

#955 spin view fix
  baystation12.dme
  code/modules/client/movement.dm
Labels: Code
