Repository Foundation-19/Foundation-19, pull requests merged in 2023-04, with the labels that each got.

#1001 ExplodeyBat (SCP-2398)
  baystation12.dme
  code/game/objects/items/weapons/SCP/filingcabinets.dm
  code/modules/SCP/SCPs/SCP-2398.dm
  icons/SCP/scp-2398.dmi
  maps/site53/items/manuals.dm
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Sprites, Code

#1019 Adds in SCP-3349 (cardiac arrhythmia with a twist)
  baystation12.dme
  code/__defines/dcs/signals.dm
  code/_helpers/medical_scans.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/bodyscanner_console.dm
  code/game/objects/items/devices/scanners/health.dm
  code/game/objects/items/weapons/SCP/filingcabinets.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/SCP/SCPs/SCP-3349.dm
  code/modules/asset_cache/assets/on_join.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/species/unathi.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  html/images/scp3349_ekg.png
  maps/site53/items/manuals.dm
  sound/effects/heartbeatpurr.ogg
Labels: Mapping, Code

#1026 Minor improvements to email spam
  code/modules/events/email_spam.dm
  code/modules/modular_computers/NTNet/emails/email_account.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
Labels: Code

#1023 Minor Adjustments to Restaurant
  maps/site53/site53-2.dmm
Labels: Mapping

#1032 Changeling quick fix
  code/datums/powers.dm
  code/game/gamemodes/changeling/changeling_datum.dm
  code/game/gamemodes/changeling/changeling_helpers.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Labels: Code

#1033 Makes 3349 easier to test with
  code/modules/SCP/SCPs/SCP-3349.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  maps/site53/items/manuals.dm
Labels: Mapping, Code

#1034 Psionics fix
  code/datums/mind/mind.dm
  code/modules/psionics/complexus/complexus.dm
  code/modules/psionics/complexus/complexus_helpers.dm
  code/modules/psionics/complexus/complexus_power_cache.dm
  code/modules/psionics/complexus/complexus_process.dm
  code/modules/psionics/equipment/cerebro_enhancers.dm
Labels: Code

#1036 fix(guns): fixes p90 caliber
  code/game/objects/items/weapons/SCP/guns.dm
Labels: Code

#1029 Memetic spasm event rework
  baystation12.dme
  code/game/objects/items/devices/radio/radio.dm
  code/modules/events/email_spam.dm
  code/modules/events/event_container.dm
  code/modules/events/memetic_spasm.dm
  code/modules/psionics/events/memetic_spasm.dm
  sound/effects/memetic_spasm.ogg
Labels: Code

#1035 Event manager panel lets you view variables of events directly from the proc
  code/controllers/subsystems/event.dm
  code/modules/events/event_manager.dm
Labels: Code

#1038 PP fix
  code/modules/admin/player_panel/player_panel.dm
Labels: Code

#1039 Removes p90 code duplication
  maps/site53/items/automatic.dm
Labels: Mapping

#1040 bags fixes
  maps/site53/job/outfits.dm
Labels: Mapping

#1043 replaces view_nolight with already existing dview
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/mob/living/carbon/human/memetic_insulation.dm
  code/modules/organs/internal/eyes.dm
  code/procs/hud.dm
Labels: Code

#1045 Slightly buffs guns and other weapons.
  code/modules/mob/mob_helpers.dm
Labels: Code

#1044 Fixes tiny overesight with lockers and full_breach proc
  code/game/area/areas.dm
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code

#1047 Fix invisible adjusted organs in prefs
  code/modules/client/preference_setup/general/02_body.dm
Labels: Code

#1048 Pestilence fix
  code/modules/mob/living/carbon/human/life.dm
Labels: Code

#1046 SCP 173 tweaks
  code/modules/SCP/SCPs/SCP-173.dm
  code/procs/hud.dm
Labels: Code

#1056 VV menu edits
  baystation12.dme
  code/_helpers/type_processing.dm
  code/_helpers/unsorted.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  test/check-paths.sh
Labels: Code

#1027 memetic system fixes + additions
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/memetic_insulation.dm
  code/modules/mob/mob.dm
Labels: Code

#1057 Simple mob updates + random monsters
  baystation12.dme
  code/game/antagonist/station/apostle.dm
  code/game/objects/effects/temporary.dm
  code/game/objects/effects/temporary_effect.dm
  code/modules/SCP/SCPs/SCP-280.dm
  code/modules/ai/_defines.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic_hostile.dm
  code/modules/mob/living/simple_animal/aquatic/_aquatic_retaliate.dm
  code/modules/mob/living/simple_animal/aquatic/aquatic_sharks.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/hostile/bad_drone.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/guard.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/hunter.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/meat_horrors.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/apostle.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/pike.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/_random_abilities.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/_random_monster.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/active_abilities.dm
  code/modules/mob/living/simple_animal/hostile/random_monster/death_abilities.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/alligator.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/jelly.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/tegu.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/mob/living/simple_animal/life.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  icons/mob/simple_animal/random_monster.dmi
Labels: Sprites, Code

#1061 Makes malf AI less shitty
  code/modules/mob/living/silicon/ai/malf.dm
Labels: Code

#1064 Integrates HUDS with memetic system
  code/procs/hud.dm
Labels: Code

#1060 Adds SCP 2427-3
  baystation12.dme
  code/controllers/communications.dm
  code/datums/supplypacks/livecargo.dm
  code/modules/SCP/SCPs/SCP-2427-3.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/observer/ghost/ghost.dm
  icons/SCP/scp-2427-3.dmi
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
  sound/scp/2427/consume.ogg
  sound/scp/2427/stab.ogg
Labels: Mapping, Sprites, Code

#1051 Restaurant Adjustments
  maps/site53/site53-2.dmm
Labels: Mapping

#1052 added floors
  code/modules/codex/entries/turfs.dm
Labels: Code

#1065 Reworks White Night
  baystation12.dme
  code/game/antagonist/station/apostle.dm
  code/game/objects/effects/temporary.dm
  code/modules/SCP/Abnormalities/white_night.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/apostle.dm
  code/modules/mob/living/simple_animal/natural_weapons.dm
  icons/effects/effects.dmi
  icons/mob/simple_animal/apostle.dmi
  icons/mob/simple_animal/white_night.dmi
  sound/effects/apostle/antagonist/staff_charge.ogg
  sound/effects/apostle/mob/fire_activate.ogg
  sound/scp/abnormality/white_night/apostle_bell.ogg
  sound/scp/abnormality/white_night/apostle_death.ogg
  sound/scp/abnormality/white_night/apostle_death_final.ogg
  sound/scp/abnormality/white_night/apostle_growl.ogg
  sound/scp/abnormality/white_night/apostle_heal.ogg
  sound/scp/abnormality/white_night/apostle_shout.ogg
  sound/scp/abnormality/white_night/apostle_spell.ogg
  sound/scp/abnormality/white_night/ark_damage.ogg
  sound/scp/abnormality/white_night/rapture.ogg
  sound/scp/abnormality/white_night/rapture2.ogg
  sound/scp/abnormality/white_night/scythe.ogg
  sound/scp/abnormality/white_night/scythe_gib.ogg
  sound/scp/abnormality/white_night/scythe_spell.ogg
  sound/scp/abnormality/white_night/spear.ogg
  sound/scp/abnormality/white_night/spear_charge.ogg
  sound/scp/abnormality/white_night/spear_dash.ogg
  sound/scp/abnormality/white_night/staff_attack.ogg
  sound/scp/abnormality/white_night/staff_end.ogg
  sound/scp/abnormality/white_night/staff_prepare.ogg
  sound/scp/abnormality/white_night/whisper.ogg
Labels: Sprites, Code, LC13 x F19

#1070 Mapping : 2427-3 HCZ transfer + Guard Slots Tweak + Armoury Changes (Stunbatons etc)
  maps/site53/job/jobs/security.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
Labels: Mapping

#1073 "Who" verb shows who's in lobby to admins
  code/game/verbs/who.dm
Labels: Code

#1074 Fix "who" verb for admins
  code/game/verbs/who.dm
Labels: Code

#1071 Remove broken gamemode from game panel
  code/modules/admin/topic.dm
Labels: Code

#1076 New MK9 icons and sound
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/gun.dmi
  maps/site53/items/guns.dm
  sound/weapons/gunshot/gunshot_9mm.ogg
Labels: Mapping, Sprites, Code

#1072 Security lockers, weapons and armor update
  code/game/objects/items/weapons/SCP/ammo.dm
  code/game/objects/items/weapons/SCP/armor.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/utility.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/site53/EZ-Level-1.dmm
  maps/site53/EZ-Level-2.dmm
  maps/site53/away_mission-1.dmm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/security.dm
  maps/site53/z1_admin.dmm
  maps/torch/icons/mob/onmob_head_solgov.dmi
  maps/torch/icons/obj/obj_head_solgov.dmi
  sound/weapons/gunshot/p90.ogg
Labels: Mapping, Sprites, Code

#1078 Fixes SSinput init "for" real
  code/controllers/subsystems/input.dm
Labels: Code

#1079 HCZ and CDCZ Checkpoint Improvements + 049 Retouch!
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#1082 Fix Summon Robes cult rune
  code/game/gamemodes/cult/runes.dm
Labels: Code

#1087 Fixes 2427-3 enraged check
  code/modules/SCP/SCPs/SCP-2427-3.dm
Labels: Code

#1075 SCP 2427-3 AI controls
  code/modules/SCP/SCPs/SCP-2427-3.dm
Labels: Code

#1088 Building walls takes slightly more time
  code/game/objects/structures/girders.dm
Labels: Code

#1089 Fixes monkey check for 2427-3
  code/modules/SCP/SCPs/SCP-2427-3.dm
Labels: Code

#1084 SSinput fixes take 3
  code/controllers/subsystems/input.dm
  code/modules/client/client_procs.dm
Labels: Code

#1091 Change min players for malf AIC to 20
  code/game/gamemodes/malfunction/malfunction.dm
Labels: Code

#1090 Adds in Mister Fish shit (doesn't actually add him in)
  baystation12.dme
  code/datums/outfits/SCP.dm
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-527.dm
  code/modules/mob/living/carbon/human/species/outsider/scp527.dm
  icons/SCP/scp-527.dmi
Labels: Sprites, Code

#1098 Update test.yml ubuntu version
  .github/workflows/test.yml
Labels: Github

#1097 Mapping checkpoint and maint tunnel + JohnPizzas's and Bjorn's SOP Paperwork and Manual Changes V2
  maps/site53/items/manuals.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#1100 `var/` in args purge final
  SpacemanDMM.toml
  code/_helpers/game.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/mob/living/carbon/human/memetic_insulation.dm
Labels: Code

#1042 Server revision display
  .github/workflows/test.yml
  code/datums/helper_datums/getrev.dm
  code/game/world.dm
  code/modules/error_handler/error_reporting.dm
Labels: Github, Code

#1101 SCP-173 Transfer to Lower LCZ (From Upper LCZ)
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#1105 Last Access Quickfix
  maps/site53/site53-2.dmm
Labels: Mapping

#1106 Fixes everything about assemblies and grenades
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/assembly/holder.dm
Labels: Code

#1107 Enables random monsters in .dme
  baystation12.dme
Labels: Code

#1086 Adds SCP 216
  baystation12.dme
  code/game/objects/items/weapons/gift.dm
  code/modules/SCP/SCPs/SCP-216.dm
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Code

#1083 AStar Whitelist Procs
  code/_helpers/unsorted.dm
  code/game/turfs/turf.dm
  code/modules/ai/ai_holder_pathfinding.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/procs/AStar.dm
Labels: Code

#1109 WOW!!!!!!!!!!!!!!!
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Code

#1115 Hotfixes stealing objectives.
  code/game/gamemodes/objective.dm
Labels: Code

#1102 security gaming
  maps/site53/structures/closets/security.dm
Labels: Mapping

#1117 Event fixes + rebalancing
  baystation12.dme
  code/_helpers/areas.dm
  code/modules/events/blob.dm
  code/modules/events/event_container.dm
  code/modules/events/maint_drones.dm
  code/modules/events/memetic_spasm.dm
  code/modules/events/prison_break.dm
  code/modules/hydroponics/spreading/spreading.dm
Labels: Code

#1104 Fixes issues with can_hear in regards to AI and expensive view checks.
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/memetic_insulation.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/say.dm
Labels: Code

#1113 R_MOD changes
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
Labels: Code

#1108 Add minable paths to the secure zones + a mining tool
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#1118 Mr Fish and fixes
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-527.dm
  maps/site53/site53-2.dmm
Labels: Mapping, Code

#1119 New EZ Office (Level 4); New LCZ Offices, Level 4 Command Sector Reorganization and Admin Panic Bunker
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53areas.dm
Labels: Mapping

#1124 Change joined round as to use alt title, fix notes player age
  code/modules/admin/admin.dm
  code/modules/mob/new_player/new_player.dm
Labels: Code

#1133 Fix limbs flying off making your limbs explode in 1 hit
  code/modules/organs/external/_external.dm
Labels: Code

#1131 Fix player age in show player info
  code/modules/admin/admin.dm
Labels: Code

#1120 R_MOD changes, again
  code/game/jobs/access/_access.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/nano/interaction/admin.dm
Labels: Code, Test-Merged

#1125 Fix show today server log
  code/modules/admin/verbs/getlogs.dm
Labels: Code

#1137 Improvised Tools for D-class
  baystation12.dme
  code/game/machinery/lightswitch.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/buttons.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/tools/crowbar.dm
  code/game/objects/items/weapons/tools/screwdriver.dm
  code/game/objects/items/weapons/tools/wirecutter.dm
  code/game/objects/items/weapons/tools/wrench.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/crafting/_crafting_stage.dm
  code/modules/crafting/crafting_medicine.dm
  code/modules/crafting/crafting_tools.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/materials/recipes_items.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/surgery/robotics.dm
  icons/obj/crafting_icons.dmi
  icons/obj/tools.dmi
  maps/site53/items/manuals.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
Labels: Mapping, Sprites, Code

#1135 Announcements
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-173.dm
  sound/AI/049.ogg
  sound/AI/173.ogg
  sound/AI/acidic_degredation.ogg
Labels: Code

#1134 Give R_MOD create centcom report
  code/modules/admin/admin_verbs.dm
Labels: Code

#1053 Fixes up supply and drop pods
  code/modules/random_map/drop/drop_types.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/random_map/drop/droppod_doors.dm
  code/modules/random_map/drop/supply.dm
  code/modules/random_map/random_map.dm
  maps/~mapsystem/maps_unit_testing.dm
Labels: Mapping, Code

#1140 Fixes my ID fuckup
  code/game/jobs/job/command.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/research.dm
  code/game/jobs/job/security.dm
Labels: Code
