Repository Foundation-19/Foundation-19, pull requests merged in 2023-08, with the labels that each got.

#1146 New METAL DETECTORS for LCZ
  baystation12.dme
  code/__defines/wires.dm
  code/datums/observation/moved.dm
  code/datums/wires/_wires.dm
  code/datums/wires/contraband_detector.dm
  code/game/machinery/contraband_detector.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/circuitboards/machinery/contraband_detector.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/codex/entries/machinery.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_storage.dm
  code/modules/mechs/premade/light.dm
  code/modules/research/designs/designs_circuits.dm
  icons/obj/machines/contraband_detector.dmi
  maps/site53/site53-1.dmm
Labels: Mapping, Sprites, Code, Test-Merged

#1229 adjusts default map path for the mapmerge script
  tools/mapmerge2/frontend.py
Labels: Tools

#1228 Fixes contraband detectors (whooooooooooops)
  code/datums/observation/moved.dm
  code/game/machinery/contraband_detector.dm
Labels: Code

#1219 Ports Jump Point Search pathfinding from TG (as well as supplementaries)
  baystation12.dme
  code/__defines/SCP.dm
  code/__defines/_helpers.dm
  code/__defines/pathing.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/__defines/turfs.dm
  code/_helpers/game.dm
  code/_helpers/heap.dm
  code/_helpers/path.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/controllers/subsystems/pathfinder.dm
  code/game/atoms.dm
  code/game/gamemodes/changeling/changeling_helpers.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/window.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/ai/ai_holder_pathfinding.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/mob_movement.dm
  code/modules/tables/tables.dm
  code/procs/AStar.dm
Labels: Code

#1211 Ports roundstart optimization from /tg/
  code/controllers/master.dm
Labels: Code, Test-Merged

#1234 changes category for Event Manger Panel from Admin to Fun
  code/controllers/subsystems/event.dm
Labels: Code

#1235 Two bugfixes for the price of one
  code/datums/mind/mind.dm
  code/modules/goals/_goalcontainer.dm
Labels: Code

#1239 inflatable door dupe hotfix
  code/game/objects/structures/inflatable.dm
Labels: Code

#1213 Re-names "Space Cleaner" to a more S.C.P friendly type.
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/silicon/robot/modules/module_maintenance_drone.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/skills/skill.dm
  code/modules/organs/internal/species/vox.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/toxins/_toxins_base.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/xenoarcheaology/finds/special.dm
Labels: Code, Test-Merged

#1227 SD no longer starts with Jerraman
  code/datums/outfits/jobs/command.dm
Labels: Code, Waiting on Test Merge

#1252 Manually updates changelog credits cause its hardcoded for some fucking reason.
  tgui/packages/tgui/interfaces/Changelog.js
Labels: TGUI

#1254 Fixes 173's pathing getting stuck as a result of JPS
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code, Waiting on Test Merge

#1220 A Comically Large amount of Quality of Life Improvements
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/ghost_screen_objects.dm
  code/modules/admin/admin.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/client/preference_setup/background/02_language.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/client/preference_setup/general/03_equipment.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/submaps/submap_archetype.dm
  icons/mob/screen_ghost.dmi
Labels: Sprites, Code, Test-Merged

#1255 Re-adds names removed in credits fix
  tgui/packages/tgui/interfaces/Changelog.js
Labels: TGUI

#1268 Fixes obj/item/stack duping exploit
  code/game/objects/items/stacks/stack.dm
Labels: Code, Bugfix

#1266 deletes empty files from my last pr
  baystation12.dme
  code/modules/ascent/ascent_structures.dm
  code/modules/culture_descriptor/culture/cultures_ascent.dm
  code/modules/culture_descriptor/faction/factions_adherent.dm
  code/modules/culture_descriptor/faction/factions_ascent.dm
  code/modules/culture_descriptor/faction/factions_ipc.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/culture_descriptor/faction/factions_unathi.dm
  code/modules/culture_descriptor/faction/factions_vox.dm
  code/modules/culture_descriptor/location/locations_adherent.dm
  code/modules/culture_descriptor/location/locations_ascent.dm
  code/modules/culture_descriptor/location/locations_diona.dm
  code/modules/culture_descriptor/location/locations_ipc.dm
  code/modules/culture_descriptor/location/locations_serpentids.dm
  code/modules/culture_descriptor/location/locations_skrell.dm
  code/modules/culture_descriptor/location/locations_unathi.dm
  code/modules/culture_descriptor/location/locations_vox.dm
  code/modules/culture_descriptor/religion/religions_ascent.dm
  code/modules/culture_descriptor/religion/religions_unathi.dm
  code/modules/culture_descriptor/religion/religions_vox.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/overmap/exoplanets/theme.dm
Labels: Code

#1251 Armor improvements
  code/datums/outfits/jobs/security.dm
  code/game/objects/items/weapons/SCP/armor.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/armor.dm
  icons/mob/onmob/onmob_modular_armor.dmi
  icons/obj/clothing/obj_suit_modular_armor.dmi
  maps/site53/structures/closets/research.dm
Labels: Mapping, Sprites, Code, Test-Merged

#1181 Weaponry Dispensers For Armories
  baystation12.dme
  code/game/machinery/weapon_vending.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  icons/obj/vending.dmi
  maps/site53/site53-2.dmm
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/security.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Sprites, Code, Test-Merged

#1214 Ports addiction system & new reagents from Tegu
  baystation12.dme
  code/__defines/_lists.dm
  code/__defines/chemistry.dm
  code/_helpers/medical_scans.dm
  code/controllers/subsystems/addiction.dm
  code/datums/supplypacks/medical.dm
  code/modules/SCP/SCPs/SCP-294.dm
  code/modules/clothing/masks/chewable.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/organs/organ.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_amnestics.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_fluff.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_misc.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_painkillers.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_drugs.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/addiction/_addiction.dm
  code/modules/reagents/addiction/alcohol.dm
  code/modules/reagents/addiction/amnestics.dm
  code/modules/reagents/addiction/gottheit.dm
  code/modules/reagents/addiction/hallucinogens.dm
  code/modules/reagents/addiction/nicotine.dm
  code/modules/reagents/addiction/opiate.dm
  code/modules/reagents/addiction/psionics.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  sound/effects/nostalgia1.ogg
  sound/effects/nostalgia2.ogg
  sound/effects/nostalgia3.ogg
  sound/effects/nostalgia4.ogg
  sound/effects/nostalgia5.ogg
  sound/effects/nostalgia5B.ogg
Labels: Code, Test-Merged

#1278 Removes /datum/graph and related subsystems.
  baystation12.dme
  code/_helpers/global_access.dm
  code/controllers/subsystems/graphs.dm
  code/controllers/subsystems/processing/graphs.dm
  code/datums/graph/graph.dm
  code/datums/graph/node.dm
  code/unit_tests/graph_tests.dm
Labels: Code

#1248 More infestation updates and tweaks
  code/modules/mob/grab/abomination/abom_aggressive.dm
  code/modules/mob/grab/abomination/abom_kill.dm
  code/modules/mob/grab/abomination/abom_passive.dm
  code/modules/mob/grab/abomination/grab_abom.dm
  code/modules/mob/living/simple_animal/hostile/infestation/larva.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/organs/internal/species/abomination.dm
  code/modules/species/outsider/abomination.dm
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
Labels: Sprites, Code, Test-Merged

#1284 converts ismonkey into a define that checks species instead of a mob proc
  code/_macros.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/movietitles.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/SCP/SCPs/SCP-2427-3.dm
  code/modules/mob/mob_helpers.dm
Labels: Code

#1270 Qdel improvements
  code/__defines/qdel.dm
  code/datums/datum.dm
  code/datums/weakref.dm
Labels: Code, Test-Merged

#1269 TGS DMAPI update
  code/__defines/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/chunking.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Code, Test-Merged

#1287 Changes audio volume in some announcments
  sounds/AI/049.ogg
  sounds/AI/173.ogg
  sounds/AI/announcer/codered.ogg
Labels: Test-Merged, Sounds

#1290 Locks station blueprints to admin perms
  code/game/objects/items/blueprints.dm
Labels: Code, Priority: BIG FUCKING PRIORITY

#1129 Improvements to MTF calling
  code/_helpers/global_access.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/access/_access.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/response_team.dm
  code/modules/admin/admin.dm
  code/modules/security levels/keycard authentication.dm
  maps/antag_spawn/ert/ert.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/site53/z1_admin.dmm
  maps/~mapsystem/maps.dm
Labels: Mapping, Code, Test-Merged

#1301 Remove the Ahelps to IRC notice.
  code/game/verbs/who.dm
Labels: Code
