Repository Foundation-19/Foundation-19, pull requests merged in 2023-07, with the labels that each got.

#1183 Weakref improvements (from TG)
  code/datums/weakref.dm
Labels: Code

#1193 Adds badges for network leads and head maintainer
  code/_helpers/text.dm
Labels: Code

#1194 Reduces 173 announcement volume
  sound/AI/acidic_degredation.ogg
Labels: Sound, Test-Merged

#1170 Storage opening icons
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/obj/storage.dmi
Labels: Sprites, Code, Test-Merged, Waiting on Test Merge

#1182 Steals flare sounds from MS13
  code/game/atoms.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/oxycandle.dm
  sound/effects/flare.ogg
  sound/effects/flare_end.ogg
  sound/effects/flare_start.ogg
Labels: Code, Sound, Test-Merged, Waiting on Test Merge

#1196 5.7 ammo box icon
  code/game/objects/items/weapons/SCP/ammo.dm
  icons/obj/ammo.dmi
Labels: Sprites, Code

#1197 Fixes nitrile armored gloves and auditor armored gloves not having icons.
  icons/obj/clothing/obj_hands.dmi
Labels: Sprites

#1192 Balances Spawning of Ores
  code/modules/random_map/automata/caves.dm
Labels: Code, Test-Merged

#1188 Cyborg & AIC Minor Overhaul
  code/__defines/mobs.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/ai_screen_objects.dm
  code/game/jobs/job/silicon.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/status_display_ai.dm
  code/modules/admin/verbs/pray.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_repair.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/observer/freelook/ai/eye.dm
  icons/mob/robots.dmi
  icons/mob/screen1_robot.dmi
  icons/mob/screen_ai.dmi
Labels: Sprites, Code, Test-Merged

#1195 Makes 527 playable + backpack
  code/_macros.dm
  code/datums/outfits/SCP.dm
  code/modules/SCP/SCPs/SCP-527.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code, Test-Merged

#1180 Jobtime / Playtime Tracking
  baystation12.dme
  code/__defines/jobs.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_global_vars/lists/jobtime.dm
  code/_helpers/global_access.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/jobs.dm
  code/controllers/subsystems/jobtime.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/command.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/jobtime.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/misc.dm
  code/game/jobs/job/research.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/modular_computers/file_system/manifest.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/procs/announce.dm
  config/example/config.txt
  sql/migrate/V008__Add_role_time.sql
  tgui/packages/tgui/interfaces/PlayerPanel.js
Labels: Code, TGUI, Test-Merged, Waiting on Test Merge

#1209 Timelock Bypass Perms
  code/__defines/admin.dm
  code/game/jobs/job/job.dm
  code/modules/admin/admin_ranks.dm
  config/example/admin_ranks.txt
Labels: Code

#1186 Radial menu improvements
  baystation12.dme
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  icons/hud/radial/basic.dmi
  icons/hud/radial/palletes/default.dmi
  icons/mob/radial/menu.dmi
Labels: Sprites, Code

#1014 Personal goals COMPLETE overhaul
  baystation12.dme
  code/__defines/dcs/signals.dm
  code/__defines/goals.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/goals.dm
  code/datums/mind/memory.dm
  code/datums/mind/mind.dm
  code/datums/wires/_wires.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_objectives.dm
  code/game/antagonist/antagonist_print.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/game/jobs/job/job.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/fitness.dm
  code/game/turfs/turf.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/clothing/masks/smokable.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/economy/Accounts.dm
  code/modules/goals/_goal.dm
  code/modules/goals/_goalcontainer.dm
  code/modules/goals/_reward.dm
  code/modules/goals/definitions/department.dm
  code/modules/goals/definitions/department_clerical.dm
  code/modules/goals/definitions/department_engineering.dm
  code/modules/goals/definitions/department_medical.dm
  code/modules/goals/definitions/department_science.dm
  code/modules/goals/definitions/personal.dm
  code/modules/goals/definitions/personal_achievement.dm
  code/modules/goals/definitions/personal_achievement_movement.dm
  code/modules/goals/definitions/personal_achievement_specific_object.dm
  code/modules/goals/goal_ambition.dm
  code/modules/goals/goal_department.dm
  code/modules/goals/goal_mind.dm
  code/modules/goals/goal_mob.dm
  code/modules/goals/goals/rewards.dm
  code/modules/goals/goals/sanity.dm
  code/modules/goals/goals/skills.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/mob/living/carbon/xenobiological/powers.dm
  code/modules/mob/living/simple_animal/defense.dm
  code/modules/mob/mob.dm
  code/modules/reagents/Chemistry-Grinder.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/species/species.dm
  code/modules/tgui/modules/ntos-only/email.dm
  maps/site53/site53-1.dmm
  maps/~mapsystem/maps.dm
  tgui/packages/tgui/interfaces/PersonalGoals.js
Labels: Mapping, Code, TGUI, Test-Merged

#1207 Ports balloon alerts
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/text.dm
  code/_helpers/game.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/mob/floating_message.dm
Labels: Code
