Repository Foundation-19/Foundation-19, pull requests merged in 2023-10, with the labels that each got.

#1258 049 chamber botany
  maps/site53/site53-1.dmm
Labels: Mapping, Test-Merged

#1313 Fixes poor implementation of open icons for boxes and also cleans up storage code
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: Code, Test-Merged

#1330 ID card improvements + removals
  code/datums/extensions/chameleon.dm
  code/game/antagonist/outsider/foundation.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/codex/entries/psionics.dm
  code/modules/item_worth/worths_list.dm
  icons/obj/card.dmi
  maps/site53/items/cards_ids.dm
  maps/site53/site53.dm
Labels: Mapping, Sprites, Code

#1335 fixes storage having to be clicked on twice to open if closed using the x
  code/game/objects/items/weapons/storage/storage.dm
Labels: Code

#1325 A few mapping improvements to Engineering
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping, Waiting on Test Merge

#1336 SCP 2427-3 fixes/restoration/tweaks
  code/modules/SCP/SCPs/SCP-2427-3.dm
Labels: Code

#1338 Fixes leaking/unconnected pipes on second level
  maps/site53/site53-2.dmm
Labels: Mapping

#1343 Fixes dumbass guidelines in the sec checkpoint manual in regards to tests
  maps/site53/items/manuals.dm
Labels: Mapping

#1341 Cross-server communications port
  code/__defines/misc.dm
  code/_global_vars/misc.dm
  code/controllers/configuration.dm
  code/controllers/evacuation/evacuation_option.dm
  code/controllers/subsystems/ticker.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  nano/templates/communication.tmpl
Labels: Code

#1345 Fixes game not loading the comms config
  code/controllers/master.dm
Labels: Code

#1350 Ports Tegu dressup verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/client_procs.dm
Labels: Code

#1351 Consistent glide size for observers
  code/datums/orbit.dm
Labels: Code

#1339 Further Infestation & simple animal ports
  baystation12.dme
  code/game/objects/effects/temporary.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
  code/modules/mob/living/simple_animal/hostile/infestation/meatchip.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/effects/effects.dmi
  icons/mob/simple_animal/abominable_infestation/32x32.dmi
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
  sounds/simple_mob/abominable_infestation/aggregate/attack.ogg
  sounds/simple_mob/abominable_infestation/aggregate/death.ogg
  sounds/simple_mob/abominable_infestation/aggregate/spawn_meatchip.ogg
  sounds/simple_mob/abominable_infestation/meatchip/death.ogg
Labels: Sprites, Code, Test-Merged, Sounds

#1356 Adds "succumb" verb to humans
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Code

#1357 Fixes item pickup ghost effect, removes /obj/effect/temporary
  code/game/objects/auras/personal_shields/personal_shield.dm
  code/game/objects/effects/item_pickup_ghost.dm
  code/game/objects/effects/temporary.dm
  code/game/objects/items.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mob/living/carbon/alien/chorus/buildings/generic.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/tunneler.dm
  code/modules/shield_generators/shield.dm
  code/modules/species/outsider/starlight.dm
  code/modules/spells/aoe_turf/exchange_wounds.dm
  code/modules/spells/hand/burning_grip.dm
  code/modules/spells/hand/slippery_surface.dm
  code/modules/spells/targeted/_targeted.dm
  code/modules/spells/targeted/analyze.dm
  code/modules/spells/targeted/glimpse_of_eternity.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/spells/targeted/targeted.dm
Labels: Code

#1282 Deletes botany and piloting skills
  code/__defines/skills.dm
  code/game/jobs/job/misc.dm
  code/game/jobs/job/silicon.dm
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-527.dm
  code/modules/hydroponics/seed_machines.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_ascent.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/skills/skill.dm
  code/modules/overmap/disperser/disperser_console.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/overmap/ships/ship.dm
  code/modules/submaps/submap_job.dm
  maps/antag_spawn/mercenary/mercenary.dm
Labels: Mapping, Code, Waiting on Test Merge

#1316 Fixes goals system harddels
  code/modules/goals/_goal.dm
  code/modules/goals/_goalcontainer.dm
  code/modules/goals/_reward.dm
Labels: Code, Test-Merged
