Repository Foundation-19/Foundation-19, pull requests merged in 2023-09, with the labels that each got.

#1224 Ports admin macros and smites from TG
  baystation12.dme
  code/__defines/admin.dm
  code/_helpers/game.dm
  code/controllers/subsystems/explosion.dm
  code/controllers/subsystems/machines.dm
  code/datums/communication/pray.dm
  code/game/antagonist/antagonist_panel.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/turfs/turf.dm
  code/game/verbs/who.dm
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_attack_log.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/player_panel/player_panel.dm
  code/modules/admin/secrets/admin_secrets/jump_shuttle.dm
  code/modules/admin/secrets/admin_secrets/move_shuttle.dm
  code/modules/admin/secrets/investigation/attack_logs.dm
  code/modules/admin/smites/_smite.dm
  code/modules/admin/smites/fake_bwoink.dm
  code/modules/admin/smites/gib.dm
  code/modules/admin/smites/orbital_artillery.dm
  code/modules/admin/ticket.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/SDQL_2/SDQL_2.dm
  code/modules/admin/verbs/adminfun.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/trading_verbs.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/error_handler/error_viewer.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/login.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/smes_construction.dm
  code/modules/recycling/disposalholder.dm
  code/modules/scripting/IDE.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/train.dm
Labels: Code, Test-Merged

#1265 Enables JPS pathfinding to path through z levels
  code/_helpers/path.dm
  code/_helpers/turfs.dm
  code/controllers/subsystems/pathfinder.dm
  code/game/objects/structures/railing.dm
  code/game/turfs/turf.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/admin/admin_verbs.dm
  code/modules/ai/ai_holder_pathfinding.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/multiz/turf.dm
  icons/misc/debug_group.dmi
Labels: Sprites, Code, Test-Merged

#1111 Alert code cleanup
  baystation12.dme
  code/__defines/dcs/signals.dm
  code/__defines/psi.dm
  code/datums/security_state.dm
  code/game/machinery/alarm.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/rotating_alarm.dm
  code/game/machinery/rotating_alarm/staiton_alerts.dm
  code/modules/psionics/equipment/foundation_implanter.dm
  code/modules/psionics/equipment/implant.dm
  code/modules/psionics/equipment/psimonitor.dm
  icons/misc/security_state.dmi
  icons/obj/rotating_alarm.dmi
  test/check-paths.sh
Labels: Sprites, Code, Test-Merged

#1286 Fixes lcz cams being in hcz network and vice versa
  maps/site53/site53-2.dmm
Labels: Mapping, Test-Merged

#1308 Backpack notification improvement
  code/game/objects/items/weapons/storage/storage.dm
Labels: Code

#1315 fixes runtime
  code/game/jobs/job/jobtime.dm
Labels: Code, Test-Merged

#1298 removes "lost" camera + admin bunker rename
  maps/site53/site53-4.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Test-Merged

#1302 Adds automatic dir-facing on fire + a few balloon alerts + spellcheck
  code/_helpers/unsorted.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Code, Test-Merged

#1321 Fixes wall discrepancy + double spaces in object names
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping
