Repository Foundation-19/Foundation-19, pull requests merged in 2023-02, with the labels that each got.

#957 Borg b gone
  code/game/jobs/job/silicon.dm
Labels: Code

#958 SCP-457 (burn guy) Addition
  baystation12.dme
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-457.dm
  code/modules/mob/observer/ghost/ghost.dm
  icons/SCP/scp-457.dmi
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Sprites, Code

#962 Pickup fix
  code/game/objects/effects/temporary_effect.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/materials.dm
Labels: Code

#963 New HUD
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/client/ui_style.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/species/species_hud.dm
  icons/mob/screen/dark.dmi
  icons/mob/screen/orange_luna.dmi
  icons/mob/screen/screen_neo.dmi
  icons/mob/screen1_health.dmi
  icons/mob/zone_sel_new.dmi
  interface/skin.dmf
Labels: Sprites, Code

#964 CSRFZ patch
  code/modules/ZAS/Turf.dm
Labels: Code

#961 ID card fixes
  code/modules/modular_computers/file_system/programs/command/card.dm
Labels: Code

#938 Deletes unused Bureaucracy skill, also fixes the formatting of jobs' skills
  code/__defines/skills.dm
  code/game/area/areas.dm
  code/game/jobs/job/silicon.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_ascent.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_emergency.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_filing.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_forensics.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_miner.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  code/modules/mob/living/silicon/robot/modules/module_standard.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/new_player/skill.dm
  code/modules/mob/skills/skill.dm
  code/modules/submaps/submap_job.dm
  code/modules/surgery/other.dm
  maps/site53/job/jobs/command.dm
  maps/site53/job/jobs/engineering.dm
  maps/site53/job/jobs/medical.dm
  maps/site53/job/jobs/misc.dm
  maps/site53/job/jobs/research.dm
  maps/site53/job/jobs/security.dm
  packs/faction_iccgn/faction.dm
Labels: Mapping, Code

#960 Bullet Change 2: Blood Boogaloo.
  code/game/machinery/vitals_monitor.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/blood.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/standard.dm
  code/modules/organs/internal/heart.dm
Labels: Code

#969 /turf/space removal from maps
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#972 Removes wall overlapping door in LCZ security FOR REAL
  maps/site53/site53-2.dmm
Labels: Mapping

#968 Backpack hotfix
  maps/site53/job/outfits.dm
Labels: Mapping

#977 Small fixes
  code/controllers/subsystems/bccm.dm
  code/controllers/subsystems/input.dm
  code/game/jobs/access/_access.dm
  code/modules/client/client_procs.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
Labels: Code, TGUI

#979 tgs-dmapi update
  code/__defines/tgs.dm
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v5/api.dm
Labels: Code

#922 ssexplosions
  baystation12.dme
  code/__defines/explosion.dm
  code/__defines/misc.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/controllers/master.dm
  code/controllers/subsystems/explosion.dm
  code/datums/uplink/devices and tools.dm
  code/game/atoms.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/objects/explosion.dm
  code/game/objects/items/weapons/syndie.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor_acts.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/transit.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
Labels: Code

#980 Cryopod potential runtime fixed.
  code/game/machinery/cryopod.dm
Labels: Code

#981 Revert "SCP-457 (burn guy) Addition (#958)"
  baystation12.dme
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-457.dm
  code/modules/mob/observer/ghost/ghost.dm
  icons/SCP/scp-457.dmi
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Sprites, Code

#983 harddels fix iteration 1
  baystation12.dme
  code/__defines/typeids.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/assembly/signaller.dm
  code/modules/mob/new_player/menu.dm
Labels: Code

#985 harddels fix iteration 2
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Code

#988 Zooming
  baystation12.dme
  code/_onclick/click.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/zoom.dm
  interface/skin.dmf
Labels: Code

#909 Fixes up alerts
  code/datums/security_state.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/HARDWARE.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/status_display.dm
  code/game/response_team.dm
  code/modules/mob/living/silicon/ai/malf.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/new_player/login.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/security levels/keycard authentication.dm
  code/procs/announce.dm
  icons/misc/security_state.dmi
  maps/site53/icons/security_state.dmi
  maps/site53/site53.dm
  maps/site53/site53_securitystate.dm
  maps/~mapsystem/maps.dm
  nano/templates/communication.tmpl
Labels: Mapping, Sprites, Code

#993 Fixes requests consoles and places more of them
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#989 Working BurnGuy
  baystation12.dme
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-457.dm
  icons/SCP/scp-457.dmi
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Sprites, Code

#994 173 Lighting tweaks and intergration
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code

#997 Special check in timer.dm for invalid wait values
  code/controllers/subsystems/timer.dm
Labels: Code

#996 Fixes bug introduced with 457 PR
  code/modules/SCP/SCPs/SCP-457.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
Labels: Code
