Repository Foundation-19/Foundation-19, pull requests merged in 2023-12, with the labels that each got.

#1304 APC improvements
  baystation12.dme
  code/__defines/apc.dm
  code/datums/trading/goods.dm
  code/datums/wires/apc.dm
  code/game/machinery/vending.dm
  code/game/objects/alien_props.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/fabrication/designs/general/designs_engineering.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/power/apc.dm
  code/modules/power/apc/apc_appearance.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/apc/apc_malf.dm
  code/modules/power/apc/apc_mapping.dm
  code/modules/power/apc/apc_power.dm
  code/modules/power/apc/apc_ui.dm
Labels: Code

#1405 Job department fixes
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/security.dm
Labels: Bugfix

#1407 Removes old control room + mapping improvements
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Bugfix

#1409 Ports cinematic fix & tweak
  code/datums/cinematic.dm
Labels: Enhancement, Bugfix

#1416 fix comms tech department
  code/game/jobs/job/command.dm
Labels: Code
