Repository Foundation-19/Foundation-19, pull requests merged in 2023-11, with the labels that each got.

#1378 Rejuvenating cyborg give charges
  code/modules/mob/living/silicon/robot/robot_damage.dm
Labels: Code

#1383 cult fixes and additions
  code/_helpers/global_access.dm
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/cultify/mob.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/talisman.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/asset_cache/assets/on_join.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/economy/Events.dm
  code/modules/mob/living/deity/forms.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/spells/aoe_turf/conjure/construct.dm
  code/modules/spells/contracts.dm
  code/modules/spells/targeted/harvest.dm
  html/images/talisman.png
  icons/obj/narsie.dmi
  icons/obj/scarlet-king.dmi
  sounds/magic/scarlet/rise.ogg
  sounds/magic/scarlet/second_rise.ogg
  sounds/magic/scarlet/third_rise.ogg
Labels: Sprites, Code, Sounds

#1386 Fixes CDZ Medical Checkpoint windoors
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping

#1377 Reduce light replacer recharge treshold
  code/game/objects/items/devices/lightreplacer.dm
Labels: Code
