Repository Foundation-19/Foundation-19, pull requests merged in 2024-01, with the labels that each got.

#1423 Adds a d-class medical equipment locker in D-class medbay
  maps/site53/site53-1.dmm
Labels: Mapping

#1421 cargo train can go up stairs
  code/modules/vehicles/cargo_train.dm
Labels: Code

#1424 MTF + GOC fixes + additions.
  code/datums/outfits/jobs/goc.dm
  code/datums/outfits/jobs/mtf.dm
  code/game/objects/items/weapons/SCP/armor.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/under/accessories/armor.dm
Labels: Code

#1431 fix ITD/ECL offices
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1216 Archivist splitup
  baystation12.dme
  code/__defines/access_defs.dm
  code/datums/outfits/jobs/civilian.dm
  code/datums/outfits/jobs/engineering.dm
  code/datums/outfits/jobs/security.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/misc.dm
  code/game/jobs/job/security.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/SCP/filingcabinets.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/programs/servers/upload_database_c.dm
  maps/site53/EZ-Level-2.dmm
  maps/site53/icons/assignment_hud.dmi
  maps/site53/items/SCP_dataserver.dm
  maps/site53/items/manuals.dm
  maps/site53/items/toys.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53areas.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Code

#1434 MTFix-2 Update Boogaloo
  code/game/objects/items/weapons/cards_ids.dm
Labels: Code

#1165 SCP-914
  baystation12.dme
  code/__defines/SCP.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/_machines_base/stock_parts/_stock_parts.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/objs.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/SCP/SCPs/SCP-420-J.dm
  code/modules/SCP/SCPs/SCP-427.dm
  code/modules/SCP/SCPs/SCP-914.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/paperwork/paper.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/animal_cubes.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/SCP/SCP-914-32x64.dmi
  icons/SCP/SCP-914-64x64.dmi
  icons/SCP/SCP-914.dmi
  maps/site53/site53-1.dmm
  maps/site53/site53areas.dm
  sounds/effects/death_heartbeat.ogg
  sounds/machines/lever_flip.ogg
  sounds/music/420J.ogg
  sounds/music/914.ogg
  sounds/scp/173/rattle.ogg
  sounds/scp/427/effect.ogg
  sounds/scp/427/transform.ogg
  sounds/scp/914/door_close.ogg
  sounds/scp/914/door_open.ogg
  sounds/scp/914/mob_use.ogg
  sounds/scp/914/refine.ogg
Labels: Mapping, Sprites, Code, Feature, Test-Merged, Sounds

#1067 Reworks White Night even further...
  baystation12.dme
  code/__defines/mobs.dm
  code/game/objects/effects/temporary.dm
  code/modules/SCP/Abnormalities/white_night.dm
  code/modules/SCP/Abnormalities/white_night_apostles.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/48x64.dmi
  sounds/scp/abnormality/white_night/apostle_charge.ogg
  sounds/scp/abnormality/white_night/apostle_convert.ogg
  sounds/scp/abnormality/white_night/apostle_fire.ogg
  sounds/scp/abnormality/white_night/apostle_movement.ogg
  sounds/scp/abnormality/white_night/whisper_short.ogg
Labels: Sprites, Code, Test-Merged, LC13 x F19, Sounds

#1432 shitty attempt at D-Block automization
  baystation12.dme
  code/game/machinery/dblock_jobterminal.dm
  code/game/objects/items/weapons/cards_ids.dm
  icons/obj/card.dmi
  icons/obj/computer.dmi
  icons/obj/job_terminal.dmi
  maps/site53/site53-1.dmm
Labels: Mapping, Sprites, Code

#1408 Coat Rackings
  .vscode/settings.json
  code/game/objects/structures/coathanger.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/ammo.dmi
  icons/obj/coatrack.dmi
Labels: Sprites, Code, Bugfix

#1439 Ossarepantes tweak
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
Labels: Code

#1440 remove Shage font
  code/_global_vars/misc.dm
  fonts/Shage/README.txt
  fonts/Shage/Shage.ttf
  fonts/Shage/license.txt
  maps/site53/structures/mapstuff.dm
  tools/languageconverter/README.txt
  tools/languageconverter/Shage.ttf
  tools/languageconverter/Shage_3.html
  tools/languageconverter/detransliterator.py
  tools/languageconverter/license.txt
  tools/languageconverter/shageletters.docx
  tools/languageconverter/transliterator.py
Labels: Mapping, Code, Tools

#1441 Fixes item pickup ghost effect
  code/game/objects/effects/item_pickup_ghost.dm
  code/game/objects/items.dm
Labels: Code

#1449 Fixes chem dispenser at DCZ
  maps/site53/site53-1.dmm
Labels: Mapping

#1448 Defibrilator tweaks/fixes
  code/game/objects/items/weapons/defib.dm
Labels: Code

#1445 Ports multi-tile door fix
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
Labels: Code

#1450 Ports magazine quickload
  code/modules/projectiles/ammunition.dm
Labels: Code

#1453 Fixes multi-tile doors again!
  code/game/machinery/doors/door.dm
Labels: Code, Bugfix

#1456 Investigation Staff now spawn with sunglasses instead of goggles
  code/datums/outfits/jobs/security.dm
Labels: Code

#1470 Fixes memetics fucky wucky
  code/_helpers/lists.dm
  maps/site53/site53-2.dmm
Labels: Mapping, Code

#1346 Fixes cross-server evacuation report
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_option.dm
Labels: Code
