Repository Foundation-19/Foundation-19, pull requests merged in 2024-08, with the labels that each got.

#1787 SCP-082
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/traits.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-082.dm
  code/modules/SCP/hud_data.dm
  code/modules/SCP/scp.dm
  code/modules/mob/floating_message.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species/outsider/scp082.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/say.dm
  code/modules/organs/external/_external.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/gun.dm
  icons/SCP/scp-082.dmi
  icons/obj/structures.dmi
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Sprites, Code

#1788 SCP-082 tweaks
  code/modules/SCP/SCPs/SCP-082.dm
Labels: Code

#1774 THE mech update.
  baystation12.dme
  code/__defines/mech.dm
  code/_onclick/click.dm
  code/game/atoms.dm
  code/modules/mechs/_mech_setup.dm
  code/modules/mechs/components/_components.dm
  code/modules/mechs/components/body.dm
  code/modules/mechs/components/legs.dm
  code/modules/mechs/equipment/_equipment.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/equipment/engineering.dm
  code/modules/mechs/equipment/medical.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/interface/_interface.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_damage.dm
  code/modules/mechs/mech_icon.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_life.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mechs/premade/_premade.dm
  code/modules/mechs/premade/combat.dm
  code/modules/mechs/premade/heavy.dm
  code/modules/mechs/premade/light.dm
  code/modules/mechs/premade/misc.dm
  code/modules/mob/living/carbon/xenobiological/slime_AI.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_hud.dmi
  icons/mecha/mech_parts.dmi
  icons/mecha/mech_weapon_overlays.dmi
  sounds/mecha/electricloop.ogg
  sounds/mecha/engineattempt.ogg
  sounds/mecha/engineloop.ogg
  sounds/mecha/enginestarted.ogg
  sounds/mecha/lever.ogg
  test/check-paths.sh
Labels: Sprites, Code, Sounds

#1792 fixed examine for borg
  code/modules/mob/mob.dm
Labels: Code
