Repository Foundation-19/Foundation-19, pull requests merged in 2024-06, with the labels that each got.

#1680 fixing orbit exploit
  code/_onclick/hud/ghost_screen_objects.dm
Labels: Code

#1682 fixing stairs movement
  code/modules/multiz/movement.dm
Labels: Code

#1628 SCP - 5000 and Outfits
  baystation12.dme
  code/datums/outfits/misc.dm
  code/modules/SCP/SCPs/SCP-5000.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
Labels: Code

#1588 atmos-expansion
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53areas.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Waiting on Test Merge

#1458 Sec radio removal + fixes
  code/__defines/colors.dm
  code/controllers/communications.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/xenoarcheaology/tools/tools.dm
  code/stylesheet.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/antag_spawn/heist/heist_base.dmm
  maps/antag_spawn/mercenary/mercenary_base.dmm
  maps/site53/items/headsets.dm
  maps/site53/items/machinery.dm
  maps/~mapsystem/maps.dm
  nano/templates/radio_basic.tmpl
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Mapping, Code, TGUI, Test-Merged

#1650 Goldbaker reinz
  code/_helpers/text.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/jobs/job/command.dm
  code/modules/asset_cache/assets/on_join.dm
  html/images/gr.PNG
  maps/site53/job/headsets.dm
  maps/site53/site53_define.dm
Labels: Mapping, Code

#1651 Logistics can order artifacts + better names for alien artifacts
  code/datums/supplypacks/science.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: Code

#1655 Ports time loops from TG
  baystation12.dme
  code/datums/components/timeloop_individual.dm
  code/datums/uplink/devices and tools.dm
  code/game/objects/effects/time_loop.dm
  code/game/objects/items/devices/time_rewinder.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/research/designs/designs_singletons.dm
  code/modules/spells/targeted/loop_time.dm
  icons/mob/screen_spells.dmi
  icons/obj/device.dmi
Labels: Sprites, Code

#1659 add SCP-2020
  baystation12.dme
  code/datums/outfits/SCP.dm
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-2020.dm
  code/modules/mob/living/carbon/human/species/outsider/scp2020.dm
  icons/SCP/scp-2020.dmi
  maps/site53/items/SCP_dataserver.dm
  maps/site53/site53-2.dmm
Labels: Mapping, Sprites, Code

#1688 fiix job file
  code/game/jobs/job/research.dm
Labels: Code

#1687 Celadon Fixes
  baystation12.dme
  code/_helpers/text.dm
  code/controllers/subsystems/ticker.dm
  code/datums/browser.dm
  code/datums/mind/memory.dm
  code/datums/mind/mind.dm
  code/game/objects/structures/crates_lockers/closets/_closet_appearance_definitions.dm
  code/modules/SCP/SCPs/SCP-012.dm
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/SCP/SCPs/SCP-343.dm
  code/modules/SCP/scp.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/general/04_flavor.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/adminpaper.dm
  code/utf_8.dm
Labels: Code

#1692 EMERGANCY HOTFIX
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#1693 Fixes SSinput crash on orbiting yourself as ghost 2: electric boogaloo
  code/datums/components/helpers.dm
  code/game/atoms.dm
  code/modules/mob/mob_movement.dm
Labels: Code
