Repository Foundation-19/Foundation-19, pull requests merged in 2024-12, with the labels that each got.

#1824 SCP-458 PIZZA
  baystation12.dme
  code/modules/SCP/SCPs/SCP-458.dm
Labels: Code

#1823 Cargo quality of life Fixes
  maps/site53/site53.dmm
Labels: Mapping

#1804 Mech engine sound replacement
  code/modules/mechs/equipment/utility.dm
  sounds/mecha/engineloop.ogg
Labels: Code, Sounds

#1790 let's logistics buy amnestics
  code/datums/supplypacks/security.dm
Labels: Code

#1716 Fix Medical Director/Assistant access
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/research.dm
Labels: Code
