Repository Foundation-19/Foundation-19, pull requests merged in 2024-05, with the labels that each got.

#1668 fixes Changling sting
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-106.dm
Labels: Code

#1672 O5 Offices (ADMEMES)
  maps/site53/z1_admin.dmm
Labels: Mapping

#1675 Removes old entrance to site - Adds Gate A & B.
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1669 adds onmob texture for telebaton
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: Sprites
