Repository Foundation-19/Foundation-19, pull requests merged in 2024-03, with the labels that each got.

#1505 420 name fix
  code/modules/SCP/SCPs/SCP-420-J.dm
Labels: Code

#1493 Adds WAY more Class-D freedom, making people become more interested upon roundstart join, improves the EZ Brig area, changes spelling mistakes
  maps/site53/site53-1.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1504 Macros improvements
  code/__defines/MC.dm
  code/__defines/atmos.dm
  code/__defines/flags.dm
  code/__defines/fluids.dm
  code/__defines/items_clothing.dm
  code/__defines/languages.dm
  code/__defines/machinery.dm
  code/__defines/math_physics.dm
  code/__defines/mobs.dm
  code/__defines/ruin_tags.dm
  code/__defines/skills.dm
  code/__defines/tgui.dm
  code/__defines/zmimic.dm
  code/datums/progressbar_booster.dm
  code/datums/sun.dm
  code/datums/uplink/uplink_sources.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/objects/items/devices/suit_sensor_jammer.dm
  code/game/world.dm
  code/modules/alarm/alarm.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mob/floating_message.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/deity/phenomena/_defines.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/observer/freelook/chunk.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/organs/internal/brain.dm
  code/modules/overmap/exoplanets/random_map.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_antidepressants.dm
  code/modules/tgui_panel/telemetry.dm
  code/unit_tests/_defines.dm
Labels: Code

#1465 Removes spray from 049s containment
  maps/site53/site53-1.dmm
Labels: Mapping

#1524 Donut Box Icon Fix
  code/game/objects/items/weapons/storage/misc.dm
Labels: Code

#1525 Fixes ZC Fax names and Security levels
  maps/site53/site53-2.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1526 Shifts the SCP-066 front-facing sprite down a couple pixels.
  icons/SCP/scp-066.dmi
Labels: Sprites

#1523 adds the surface zone music from scp:sl
  code/datums/audio/_tracks.dm
  maps/site53/site53_define.dm
  sounds/music/melancholy.ogg
Labels: Mapping, Code, Sounds

#1533 Adds earmuff design to the autolathe.
  code/modules/clothing/clothing.dm
  code/modules/fabrication/designs/general/designs_general.dm
Labels: Code

#1531 Updates EZ SecTech to proper security level.
  maps/site53/site53-4.dmm
Labels: Mapping

#1530 Updates Spawnpoint Landmarks and fixes that one annoying APC in medical.
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1521 More infestation ports
  baystation12.dme
  code/__defines/chemistry.dm
  code/modules/SCP/Abnormalities/white_night_apostles.dm
  code/modules/ai/ai_holder_targeting.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/aggregate.dm
  code/modules/mob/living/simple_animal/hostile/infestation/assembler.dm
  code/modules/mob/living/simple_animal/hostile/infestation/floatfly.dm
  code/modules/mob/living/simple_animal/hostile/infestation/larva.dm
  code/modules/mob/living/simple_animal/hostile/infestation/lurker.dm
  code/modules/mob/living/simple_animal/hostile/infestation/meatchip.dm
  code/modules/mob/living/simple_animal/hostile/infestation/rhino.dm
  code/modules/mob/living/simple_animal/hostile/infestation/spitter.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/_infestation_structure.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/hive_heart.dm
  code/modules/mob/living/simple_animal/hostile/infestation/structures/pike_burrow.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_painkillers.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/species/outsider/abomination.dm
  icons/mob/simple_animal/abominable_infestation/32x48.dmi
  icons/mob/simple_animal/abominable_infestation/48x48.dmi
  sounds/effects/spike_attack.ogg
  sounds/simple_mob/abominable_infestation/lurker/ambient_1.ogg
  sounds/simple_mob/abominable_infestation/lurker/death.ogg
Labels: Enhancement, Sprites, Code, Feature, Sounds

#1515 Condensing Clean and Clean_Blood
  code/_helpers/washing.dm
  code/game/atoms.dm
  code/game/atoms_fluids.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_storage.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Code

#1444 SCP-914 updates
  baystation12.dme
  code/game/atoms_movable.dm
  code/game/machinery/_machines_base/machinery.dm
  code/game/machinery/_machines_base/stock_parts/_stock_parts.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/items/weapons/machine_builder.dm
  code/game/objects/objs.dm
  code/modules/SCP/SCPs/SCP-012.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/SCP/SCPs/SCP-2427-3.dm
  code/modules/SCP/SCPs/SCP-914.dm
  code/modules/economy/cash.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_anomalous.dm
  code/modules/power/cell.dm
  code/modules/reagents/reagent_containers.dm
  icons/obj/module.dmi
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping, Sprites, Code

#1529 Better flamethrowers, turf fires
  baystation12.dme
  code/_helpers/global_access.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/turf_fire.dm
  code/game/machinery/doors/door.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/fire.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/tools/weldingtool.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/ZAS/Fire.dm
  code/modules/ZAS/Zone.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/codex/entries/exosuits.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/effects/turf_fire.dmi
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
  icons/obj/flamethrower_new.dmi
  sounds/items/welderactivate.ogg
  sounds/items/welderdeactivate.ogg
  sounds/weapons/guns/flamethrower/flamethrower1.ogg
  sounds/weapons/guns/flamethrower/flamethrower2.ogg
  sounds/weapons/guns/flamethrower/flamethrower3.ogg
  sounds/weapons/guns/flamethrower/flamethrower_empty.ogg
Labels: Sprites, Code, Feature, Test-Merged, Waiting on Test Merge, Sounds

#1540 This should fix some 049 issues
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/resist.dm
Labels: Code

#1541 Ports gun stuff
  baystation12.dme
  code/__defines/guns.dm
  code/datums/uplink/ammunition.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/codex/entries/psionics.dm
  code/modules/fabrication/designs/general/designs_arms_ammo.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/rocket_launcher.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/psionics/equipment/foundation_weapon.dm
  code/modules/psionics/equipment/null_ammo.dm
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  icons/obj/guns/launchers.dmi
  icons/obj/guns/revolvers.dmi
  icons/obj/projectiles.dmi
  sounds/weapons/guns/interaction/launcher_reload.ogg
  sounds/weapons/gunshot/launcher.ogg
  sounds/weapons/gunshot/launcher_empty.ogg
  sounds/weapons/gunshot/revolver.ogg
  sounds/weapons/gunshot/revolver_heavy.ogg
  sounds/weapons/gunshot/revolver_light.ogg
Labels: Sprites, Code, Sounds

#1545 Fixes orbiting objects when they get deleted
  code/modules/mob/observer/following.dm
Labels: Code

#1543 Code standards
  .github/CONTRIBUTING.md
Labels: Github

#1548 Add french to robots
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/modules/_module.dm
Labels: Code

#1538 [READY FOR TM] - Spider re-enabling + Misc fixes
  baystation12.dme
  code/game/objects/effects/spiders.dm
  code/modules/mob/living/simple_animal/combat.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/_giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/electric.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/frost.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/lurker.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/pepper.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/phorogenic.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/thermic.dm
  icons/mob/simple_animal/spider.dmi
Labels: Sprites, Code, Test-Merged, Waiting on Test Merge

#1547 New Medical skirt
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/under/jobs/medsci.dm
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_under.dmi
Labels: Sprites, Code

#1549 Adds blacklist of guns for 914 effect
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile.dm
Labels: Code

#1550 Fixes custom handcuff breakout times
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/resist.dm
Labels: Code

#1553 Flamingos pierce edition
  code/modules/SCP/SCPs/SCP-1507.dm
Labels: Code

#1551 Adds "animosity" track, Fixes "animosity V2"
  code/datums/audio/_tracks.dm
  maps/site53/site53_define.dm
  sounds/music/animosity.ogg
  sounds/music/animosity_v2.ogg
Labels: Mapping, Code, Sounds

#1503 Move logistics, Expands science, and more
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53_presets.dm
  maps/site53/site53areas.dm
Labels: Mapping

#1536 Train Reimplementation; Minor mapping fixes and reworks.
  code/controllers/evacuation/evacuation_lifepods.dm
  code/controllers/evacuation/evacuation_pods.dm
  code/controllers/evacuation/evacuation_shuttle.dm
  code/controllers/evacuation/evacuation_site.dm
  code/game/objects/effects/step_triggers.dm
  code/game/turfs/unsimulated/floor.dm
  code/modules/mining/mine_turfs.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_emergency.dm
  icons/effects/effects.dmi
  icons/turf/flooring/plating.dmi
  icons/turf/flooring/tiles.dmi
  icons/turf/walls.dmi
  maps/site53/site53-2.dmm
  maps/site53/site53_define.dm
  maps/site53/site53areas.dm
  maps/site53/site53shuttles.dm
  maps/site53/z1_admin.dmm
  maps/site53/z2_transit.dmm
  sounds/effects/TrainLeavingSite.ogg
  sounds/effects/Traininmotion.ogg
Labels: Mapping, Sprites, Code, Sounds

#1558 Add middle click modifier to robots (pointing)
  code/_onclick/cyborg.dm
Labels: Code

#1560 Scp 347
  baystation12.dme
  code/datums/outfits/SCP.dm
  code/game/objects/effects/landmarks.dm
  code/modules/SCP/SCPs/SCP-347.dm
  code/modules/mob/living/carbon/human/species/outsider/scp347.dm
  code/modules/organs/internal/species/scp347.dm
  icons/SCP/scp347/organs.dmi
  icons/SCP/scp347/scp-347-eyes.dmi
  icons/SCP/scp347/scp-347.dmi
  maps/site53/items/SCP_dataserver.dm
  maps/site53/site53-2.dmm
Labels: Mapping, Sprites, Code

#1557 Fix robot surgeon organ surgery
  code/modules/surgery/surgery.dm
Labels: Code

#1563 Keybind for locking Face Direction
  code/modules/keybindings/mob.dm
Labels: Code

#1556 Add 'attack_robot' to morgue machines
  code/game/objects/structures/morgue.dm
Labels: Code

#1554 Add missing surgery robot tools to their toolkit
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Code

#1546 AI buttons fix and more 515 compatibility.
  code/_byond_version_compat.dm
  code/_onclick/hud/ai_screen_objects.dm
  debug_server.dll
Labels: Code

#1555 Incoming Map Update [UNDERGOING] [EARLY PR DUE TO URGENT FIXES]
  baystation12.dme
  code/datums/outfits/jobs/mtf.dm
  code/datums/outfits/jobs/security.dm
  code/game/jobs/job/security.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/weapons/SCP/armor.dm
  code/game/objects/items/weapons/SCP/helmet.dm
  code/game/objects/items/weapons/SCP/turfs.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/structures/crates_lockers/closets/__closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/railing.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/mob/living/silicon/robot/modules/module_special.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/research/designs/designs_singletons.dm
  icons/mob/human_races/species/unathi/hair.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_belt.dmi
  icons/mob/onmob/onmob_feet.dmi
  icons/mob/onmob/onmob_hands.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/mob/onmob/onmob_suit.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/mob/robots_custom.dmi
  icons/mob/screen1_robot.dmi
  icons/obj/closet_new.dmi
  icons/obj/clothing/obj_belt.dmi
  icons/obj/clothing/obj_feet.dmi
  icons/obj/clothing/obj_hands.dmi
  icons/obj/clothing/obj_head.dmi
  icons/obj/clothing/obj_suit.dmi
  icons/obj/clothing/obj_under.dmi
  icons/obj/railing.dmi
  icons/obj/rig_modules.dmi
  icons/obj/sec-lockers_new.dmi
  icons/obj/weapons/melee_physical.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/tiles.dmi
  icons/turf/flooring/wood.dmi
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/medical.dm
  maps/site53/structures/closets/security.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Sprites, Code

#1567 Science and Robotics Map change
  code/datums/outfits/jobs/science.dm
  code/game/jobs/job/research.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53_define.dm
  maps/site53/site53areas.dm
  maps/site53/site53elevators.dm
Labels: Mapping, Code, Test-Merged

#1577 Change using map config load order in mc
  code/controllers/master.dm
Labels: Code

#1576 Make show player info get age correctly
  code/modules/admin/admin.dm
Labels: Code, Test-Merged

#1574 Fix ancient ghost trap href exploit
  code/modules/ghosttrap/trap.dm
Labels: Code, Test-Merged

#1581 Proper player age in show info fix
  code/modules/admin/admin.dm
Labels: Code

#1464 D-class antags
  baystation12.dme
  code/__defines/gamemode.dm
  code/controllers/configuration.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/station/apostle.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/d-class/informant.dm
  code/game/antagonist/station/d-class/trader.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/chorus/chorus.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/malfunction/malfunction.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/siege.dm
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/mixed/traitorling.dm
  code/game/gamemodes/mixed/uprising.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/wizard/wizard.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/life.dm
  config/example/config.txt
  icons/mob/hud.dmi
  maps/site53/site53_define.dm
  maps/~mapsystem/maps.dm
Labels: Mapping, Sprites, Code, Waiting on Test Merge

#1583 Change almost all timelocks to be department based
  code/game/jobs/job/command.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/research.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
Labels: Code, Test-Merged

#1589 Sets SD timereq to be lower (1800 -> 1200)
  code/game/jobs/job/command.dm
Labels: Code

#1592 Fix the rocket launcher
  code/modules/projectiles/ammunition/bullets.dm
Labels: Code

#1591 Surgeon robot syringe and burn kit fixes
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
Labels: Code

#1582 Right click on occupations to decrement priority
  code/modules/client/preference_setup/occupation/occupation.dm
Labels: Code, Test-Merged

#1579 Update SCP-294.dm
  code/modules/SCP/SCPs/SCP-294.dm
Labels: Code, Test-Merged

#1580 Fix locker physical interaction check
  code/game/objects/structures/crates_lockers/closets/__closet.dm
Labels: Code, Test-Merged

#1586 Light replacer use in hand to replace lamps in area
  code/game/objects/items/devices/lightreplacer.dm
Labels: Code, Test-Merged

#1568 Mech Ports + Changes
  code/modules/mechs/components/legs.dm
  code/modules/mechs/equipment/combat.dm
  code/modules/mechs/equipment/utility.dm
  code/modules/mechs/interface/screen_objects.dm
  code/modules/mechs/mech.dm
  code/modules/mechs/mech_interaction.dm
  code/modules/mechs/mech_movement.dm
  code/modules/mechs/premade/misc.dm
  code/modules/projectiles/projectile/beams.dm
  sounds/mecha/eris/mech_hatch_toggle.ogg
  sounds/mecha/eris/mech_lock_toggle.ogg
  sounds/mecha/eris/mech_maints_toggle.ogg
Labels: Code, Test-Merged, Sounds

#1573 Fix CMO office door name
  maps/site53/site53-4.dmm
Labels: Mapping, Test-Merged

#1571 Fix map config path
  maps/site53/site53_define.dm
Labels: Mapping, Test-Merged

#1584 Urgent 173 invisible gibs fix
  code/modules/SCP/SCPs/SCP-173.dm
Labels: Code, Test-Merged

#1594 Engi Robot cleaner spray recharge
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
Labels: Code

#1601 Projectiles math fix
  code/modules/projectiles/projectile.dm
Labels: Code

#1604 fixes issue I failed to notice about #1568
  code/modules/mechs/interface/screen_objects.dm
  sounds/mecha/mech_hatch_toggle.ogg
  sounds/mecha/mech_lock_toggle.ogg
  sounds/mecha/mech_maints_toggle.ogg
Labels: Code, Sounds

#1603 Cleaning shit after certain someone
  code/datums/beam.dm
  code/modules/mana/mana.dm
  code/modules/spellbook/_spellbook.dm
  code/modules/spells/aimed/blink.dm
  code/modules/spells/aimed/corpse_explosion.dm
  code/modules/spells/aimed/counter_crystal.dm
  code/modules/spells/aimed/flamethrower.dm
  code/modules/spells/aimed/healing.dm
  code/modules/spells/aimed/mana_drain.dm
  code/modules/spells/aimed/onrush.dm
  code/modules/spells/aimed/spell_steal.dm
  code/modules/spells/aimed/water_slash.dm
  code/modules/spells/general/end_of_everything.dm
  code/modules/spells/general/invisibility.dm
  code/modules/spells/general/veil_of_shadows.dm
  code/modules/spells/hand/_hand.dm
  code/modules/spells/hand/consume_magic.dm
  code/modules/spells/targeted/shapeshift.dm
Labels: Code

#1607 Adds gavels
  baystation12.dme
  code/game/objects/items/courtroom.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/recipes_items.dm
  icons/obj/weapons/hammer.dmi
  sounds/items/gavel.ogg
Labels: Sprites, Code, Test-Merged, Waiting on Test Merge, Sounds

#1618 Lowers department command role requirements from 20 to 12 hours
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/research.dm
  code/game/jobs/job/security.dm
Labels: Code

#1606 fix logistics food lever
  maps/site53/site53-2.dmm
Labels: Mapping, Waiting on Test Merge

#1619 Fix goal system
  code/modules/goals/_goalcontainer.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: Code

#1617 Fix runtime with progressbars
  code/datums/progressbar.dm
Labels: Code, Waiting on Test Merge

#1598 AIC access area apc
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/observer/freelook/ai/eye.dm
  icons/hud/screen_ai.dmi
Labels: Sprites, Code, Waiting on Test Merge
