Repository Foundation-19/Foundation-19, pull requests merged in 2024-07, with the labels that each got.

#1706 Fix ice cream vat infinite reagent exploit
  code/game/machinery/kitchen/icecream.dm
Labels: Code

#1708 Fix 106 tool override
  code/modules/SCP/SCPs/SCP-106.dm
Labels: Code

#1709 fix orbit menu bugs
  code/_onclick/hud/ghost_screen_objects.dm
Labels: Code

#1701 R-UST fixes
  code/modules/power/fusion/fusion_particle_catcher.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/singularity/emitter.dm
Labels: Code

#1698 Self-Destruct authentication updates
  code/game/jobs/job/command.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/research.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-4.dmm
Labels: Mapping, Code

#1691 job fix 2
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/research.dm
Labels: Code

#1705 Raises Psionic latency so the Psionics Division of research can actually work
  code/game/jobs/job/job.dm
Labels: Code

#1710 fix client fps not applying randomly
  code/__defines/dcs/signals.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
Labels: Code

#1711 fix bad prefs code quality
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
Labels: Code

#1703 Loadout & Vendor Changes
  code/datums/outfits/jobs/security.dm
  code/game/machinery/weapon_vending.dm
  code/game/objects/items/weapons/SCP/ammo.dm
  maps/site53/structures/closets/security.dm
Labels: Mapping, Code

#1714 Boss Title Change
  maps/site53/site53_define.dm
Labels: Mapping

#1718 Mapping fixes
  code/modules/mob/living/living_defense.dm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/z1_admin.dmm
Labels: Mapping, Code

#1720 Remove unconnected cable
  maps/site53/site53-2.dmm
Labels: Mapping

#1722 MTF Fixes
  code/datums/outfits/jobs/mtf.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/masks/gasmask.dm
  maps/site53/items/clothing/platecarriers.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Code

#1719 Ethics Committee Liaison's Office Relocation
  code/game/jobs/job/command.dm
  icons/obj/closet_new.dmi
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/command.dm
Labels: Mapping, Sprites, Code

#1726 Auxtools fix + SSinput crash fix
  .github/workflows/test.yml
  baystation12.dme
  code/_debugger.dm
  code/_spaceman_dmm.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/world.dm
  code/modules/mob/mob.dm
  debug_server.dll
  dependencies.sh
Labels: Github, Code

#1727 Re-enable SCP-106
  maps/site53/site53-2.dmm
Labels: Mapping

#1728 Giga href exploit fix
  code/game/objects/items/stacks/stack.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/spellbook/_spellbook.dm
Labels: Code

#1729 Better atm fix
  code/modules/economy/ATM.dm
Labels: Code

#1717 Stamp fixes
  code/datums/outfits/jobs/civilian.dm
  maps/site53/items/stamps.dm
Labels: Mapping, Code

#1731 supply console href exploit fix
  code/modules/modular_computers/file_system/programs/generic/supply.dm
Labels: Code

#1725 Gives EZ what they want.
  code/datums/outfits/jobs/security.dm
  code/game/jobs/job/research.dm
  code/game/machinery/weapon_vending.dm
  code/game/objects/items/weapons/SCP/ammo.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/onmob_head.dmi
  icons/mob/onmob/onmob_suit.dmi
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/security.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Sprites, Code

#1732 mech-skill
  code/game/jobs/job/research.dm
  code/modules/mob/skills/skill.dm
Labels: Code

#1730 Remove completely unincluded legacy code
  baystation12.dme
  code/__defines/deity.dm
  code/game/gamemodes/godmode/form_items/narsie_items.dm
  code/game/gamemodes/godmode/form_items/narsie_structures.dm
  code/game/gamemodes/godmode/form_items/wizard_structures.dm
  code/game/gamemodes/godmode/god_altar.dm
  code/game/gamemodes/godmode/god_pylon.dm
  code/game/gamemodes/godmode/god_structures.dm
  code/game/gamemodes/godmode/god_trap.dm
  code/modules/mob/living/deity/deity.dm
  code/modules/mob/living/deity/deity_Stat.dm
  code/modules/mob/living/deity/deity_boons.dm
  code/modules/mob/living/deity/deity_click.dm
  code/modules/mob/living/deity/deity_phenomena.dm
  code/modules/mob/living/deity/deity_pylon.dm
  code/modules/mob/living/deity/deity_sources.dm
  code/modules/mob/living/deity/deity_topic.dm
  code/modules/mob/living/deity/deity_tracking.dm
  code/modules/mob/living/deity/forms.dm
  code/modules/mob/living/deity/phenomena/_defines.dm
  code/modules/mob/living/deity/phenomena/communication.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/mob/living/deity/phenomena/conversion.dm
  code/modules/mob/living/deity/phenomena/narsie.dm
  code/modules/mob/living/deity/phenomena/phenomena.dm
  code/modules/mob/living/deity/phenomena/transmutation.dm
  code/modules/mob/living/deity/say.dm
  maps/antag_spawn/deity/deity.dm
  maps/antag_spawn/deity/deity_base.dmm
Labels: Mapping, Code

#1741 Fix SQL whitelist + other small bugs
  code/game/jobs/whitelist.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/mob/living/carbon/human/human_damage.dm
Labels: Code

#1743 Fix typo
  code/modules/client/preference_setup/general/02_body.dm
Labels: Code

#1746 President Xi Approves
  code/game/objects/items.dm
  code/modules/projectiles/guns/energy.dm
Labels: Code

#1747 Reverting TGstation
  code/modules/client/preference_setup/general/02_body.dm
Labels: Code

#1748 Kill me
  code/modules/client/preference_setup/general/02_body.dm
Labels: Code, Merge Conflict

#1751 fix the whitelist
  code/_helpers/global_lists.dm
  code/game/jobs/whitelist.dm
Labels: Code

#1758 codeowners wiki team update
  .github/CODEOWNERS
Labels: Github

#1648 Deletes Horizon Initiative content
  code/_helpers/text.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/jobs/job/command.dm
  code/modules/asset_cache/assets/on_join.dm
  code/modules/codex/entries/paperwork.dm
  html/images/thi.png
  maps/site53/job/headsets.dm
  maps/site53/site53_define.dm
Labels: Mapping, Code

#1647 SCIPRC + E-mails
  baystation12.dme
  code/__defines/dcs/signals.dm
  code/__defines/misc.dm
  code/__defines/modcomp.dm
  code/_helpers/text.dm
  code/controllers/subsystems/jobs.dm
  code/modules/asset_cache/assets/computers.dm
  code/modules/codex/categories/category_service_emails.dm
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/NTNet/emails/email_account.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/servers/sciprc.dm
  code/modules/modular_computers/file_system/programs/servers/sciprc_c.dm
  code/modules/modular_computers/file_system/programs/servers/upload_database.dm
  code/modules/modular_computers/file_system/programs/servers/upload_database_c.dm
  code/modules/tgui/modules/ntos-only/email.dm
  code/procs/announce.dm
  icons/program_icons/sciprc_idle.gif
  icons/program_icons/sciprc_new.gif
  icons/program_icons/sciprc_no_server.gif
  maps/site53/items/sciprc_server.dm
  maps/site53/site53-1.dmm
  tgui/packages/tgui/interfaces/NtosEmailClient.js
  tgui/packages/tgui/interfaces/NtosNetChat.js
  tgui/packages/tgui/interfaces/SCiPChatClient.js
  tgui/packages/tgui/interfaces/SCiPChatServer.js
  tgui/packages/tgui/interfaces/SCiPUploadServer.js
Labels: Mapping, Sprites, Code, TGUI

#1762 god i hate cheese sometimes
  code/modules/codex/categories/category_service_emails.dm
Labels: Code

#1721 Species Re-Enabled
  code/modules/client/preference_setup/general/02_body.dm
  code/modules/species/mantid/mantid.dm
  code/modules/species/outsider/abomination.dm
  code/modules/species/outsider/shadow.dm
  code/modules/species/outsider/starlight.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/human_subspecies.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/prometheans.dm
Labels: Code

#1756 Basic Mentalist updates
  code/datums/outfits/jobs/science.dm
  code/game/jobs/job/research.dm
Labels: Code

#1755 adds hardsuits to the exosuit fab
  code/modules/research/designs/designs_mechfab.dm
Labels: Code

#1740 Adds Cyborg Android Types
  baystation12.dme
  code/modules/mob/living/silicon/robot/modules/module_engineering.dm
  code/modules/mob/living/silicon/robot/modules/module_forensics.dm
  code/modules/mob/living/silicon/robot/modules/module_janitor.dm
  code/modules/mob/living/silicon/robot/modules/module_medical.dm
  code/modules/mob/living/silicon/robot/modules/module_research.dm
  code/modules/mob/living/silicon/robot/modules/module_security.dm
  code/modules/projectiles/guns/energy/secure.dm
  icons/mob/robots.dmi
Labels: Sprites, Code

#1773 goc ambass
  code/game/jobs/job/command.dm
Labels: Code

#1768 Psychotronics update and bugfixes.
  code/datums/outfits/jobs/science.dm
  code/game/jobs/job/research.dm
  code/game/objects/items/weapons/cards_ids.dm
Labels: Code

#1775 Femboy Nation United
  code/modules/events/event_container.dm
Labels: Code

#1779 Buffs GC (Access + Skills) slightly.dm
  code/game/jobs/job/security.dm
Labels: Code

#1777 lobbymusc
  code/datums/audio/_tracks.dm
  maps/site53/site53_define.dm
  sounds/music/The_Bookburners_V2.ogg
Labels: Mapping, Code, Sounds

#1770 Ghetto balances HCZ from PVP to RP
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-106.dm
Labels: Code

#1782 Money cannon exploit fix
  code/modules/projectiles/guns/launcher/money_cannon.dm
Labels: Code

#1785 Minor QOL Fixes
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
Labels: Mapping

#1786 LCZ Sec access update
  code/game/jobs/job/security.dm
Labels: Code

#1640 adds drones to AIC lab, ports tegu drones
  baystation12.dme
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
Labels: Code

#1780 Reworks slime handling.
  .gitignore
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/processing/fast_mobs.dm
  code/modules/mob/living/carbon/xenobiological/slime.dm
  code/modules/mob/living/carbon/xenobiological/slime_AI.dm
Labels: Code
