Repository Foundation-19/Foundation-19, pull requests merged in 2024-04, with the labels that each got.

#1615 Soap update
  code/game/objects/items/weapons/soap.dm
  icons/obj/soap.dmi
Labels: Sprites, Code, Waiting on Test Merge

#1629 Buckets arent glass silly
  code/datums/supplypacks/custodial.dm
  code/modules/ascent/ascent_doodads.dm
  code/modules/crafting/crafting_farmbot.dm
  code/modules/crafting/crafting_janibot.dm
  code/modules/fabrication/designs/general/designs_general.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/silicon/robot/flying/module_flying_cultivator.dm
  code/modules/mob/living/silicon/robot/modules/module_clerical.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/site53/EZ-Level-1.dmm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/structures/closets/misc.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Code, Waiting on Test Merge

#1630 Rags arent glass silly
  code/datums/supplypacks/custodial.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/item_worth/worths_list.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  maps/antag_spawn/heist/heist_base.dmm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping, Code, Waiting on Test Merge

#1622 Mounted flash wire cut indicator and sound
  code/game/machinery/flasher.dm
Labels: Code, Waiting on Test Merge

#1614 Lore, Loadout and GOC updates
  code/datums/ai_law_sets.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/objects/items/passport.dm
  code/modules/clothing/rings/rings.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  maps/antag_spawn/ert/ert_base.dmm
  maps/site53/items/clothing/solgov-accessory.dm
  maps/site53/items/clothing/solgov-armor.dm
  maps/site53/items/clothing/solgov-head.dm
  maps/site53/items/clothing/solgov-under.dm
  maps/site53/items/items.dm
  maps/site53/items/machinery.dm
  maps/site53/items/stamps.dm
  maps/site53/structures/closets/security.dm
  maps/site53/structures/closets/supply.dm
  maps/site53/structures/signs.dm
Labels: Mapping, Code

#1635 Adminfax template: grammar fix
  code/modules/paperwork/adminpaper.dm
Labels: Code

#1486 Moves aux reactors + no more free power + battery rack fix + R-UST buff + boron
  code/__defines/materials.dm
  code/datums/supplypacks/custodial.dm
  code/datums/supplypacks/materials.dm
  code/modules/materials/definitions/materials_metal.dm
  code/modules/materials/material_sheets.dm
  code/modules/power/batteryrack.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/smes_construction.dm
  maps/site53/EZ-Level-1.dmm
  maps/site53/site53-2.dmm
Labels: Mapping, Code

#1631 Ports connect_loc element from TG
  baystation12.dme
  code/datums/elements/connect_loc.dm
  code/game/atoms.dm
  code/game/machinery/contraband_detector.dm
Labels: Code

#1600 AI and Robot lights keybind
  code/modules/keybindings/robot.dm
Labels: Code

#1633 Codeword highlighting
  baystation12.dme
  code/__defines/dcs/signals.dm
  code/_helpers/global_access.dm
  code/_helpers/names.dm
  code/controllers/subsystems/jobs.dm
  code/datums/components/codeword_hearing.dm
  code/game/antagonist/station/d-class/trader.dm
  code/game/antagonist/station/traitor.dm
  code/modules/mob/hear_say.dm
  code/stylesheet.dm
Labels: Code

#1652 Armbands fit in more loadouts
  code/modules/client/preference_setup/loadout/lists/accessories.dm
Labels: Code

#1661 makes the high-vis jacket high-vis
  icons/mob/onmob/onmob_suit.dmi
  icons/obj/clothing/obj_suit.dmi
Labels: Sprites

#1658 Renames / Rethemes Space Carp to fit into the SCP universe better
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/reagents/Chemistry-Reagents/toxins/toxins_poisons.dm
  code/modules/reagents/reagent_containers/food/fish.dm
  code/modules/spells/aoe_turf/summons.dm
Labels: Code

#1644 Oxyloss brain damage rebalance
  code/game/machinery/vitals_monitor.dm
  code/game/objects/items/devices/scanners/health.dm
  code/modules/organs/internal/brain.dm
  code/modules/reagents/Chemistry-Reagents/medicines/medicines_core.dm
Labels: Code, Waiting on Test Merge

#1657 logo-port
  code/_helpers/text.dm
  code/modules/asset_cache/assets/on_join.dm
  html/images/aiad.png
  html/images/amd.png
  html/images/cmax.png
  html/images/coc.png
  html/images/cotbg.png
  html/images/dcd.png
  html/images/fsd.png
  html/images/mcf.png
  html/images/misi.png
  html/images/pata.png
  html/images/raisa.png
  html/images/spc.png
  html/images/wws.png
Labels: Code

#1636 ports the memory inhibitor from aurora station, and renames it to "class H amnestic implant"
  baystation12.dme
  code/modules/augment/active/memory_inhibitor.dm
  code/modules/client/preference_setup/loadout/lists/augments.dm
  code/modules/research/designs/designs_mechfab.dm
  icons/obj/augment.dmi
Labels: Sprites, Code
