Repository Foundation-19/Foundation-19, pull requests merged in 2024-10, with the labels that each got.

#1808 living quarters lift
  code/game/machinery/cryopod.dm
  icons/obj/crew_quarters_lift.dmi
  maps/site53/site53-2.dmm
Labels: Mapping, Sprites, Code

#1809 Fix the tests
  .github/workflows/test.yml
Labels: Github

#1715 Admin fax/offsite intervention/ERT improvements
  baystation12.dme
  code/__defines/_lists.dm
  code/__defines/admin.dm
  code/__defines/dcs/signals.dm
  code/__defines/map.dm
  code/__defines/subsystems.dm
  code/__defines/text.dm
  code/__defines/time.dm
  code/_helpers/text.dm
  code/controllers/subsystems/offsites.dm
  code/controllers/subsystems/statpanel.dm
  code/datums/outfits/SCP.dm
  code/datums/outfits/jobs/ci.dm
  code/datums/outfits/jobs/goc.dm
  code/datums/outfits/jobs/mtf.dm
  code/datums/sound_player.dm
  code/game/antagonist/outsider/ert.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/HELPERS.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_passive.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/pray.dm
  code/modules/clothing/masks/cig_crafting.dm
  code/modules/maps/map_template_unit_testing.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/offsites/_offsite.dm
  code/modules/offsites/_template.dm
  code/modules/offsites/offsites/chaos_insurgency.dm
  code/modules/offsites/offsites/foundation.dm
  code/modules/offsites/offsites/gb_reinz.dm
  code/modules/offsites/offsites/goc.dm
  code/modules/offsites/offsites/horizon_initiative.dm
  code/modules/offsites/offsites/mcd.dm
  code/modules/offsites/offsites/uiu.dm
  code/modules/offsites/templates/default.dm
  code/modules/offsites/templates/goc.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_anomalous.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photocopier.dm
  code/modules/tgui_input/text.dm
  code/unit_tests/closets.dm
  code/unit_tests/map_tests.dm
  maps/site53/items/automatic.dm
  maps/site53/site53_define.dm
  maps/site53/z1_admin.dmm
  maps/~mapsystem/maps.dm
  maps/~mapsystem/maps_unit_testing.dm
  tgui/packages/tgui/interfaces/OffsitePanel.tsx
Labels: Mapping, Code, TGUI

#1807 Ambitions
  code/datums/mind/mind.dm
  code/datums/mutable_appearance.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_objectives.dm
  code/game/antagonist/antagonist_print.dm
Labels: Code

#1810 Multizsite53 - #2
  maps/site53/Chaos-Base-1-nograss.dmm
  maps/site53/Chaos-Base-1.dmm
  maps/site53/EZ-Level-1.dmm
  maps/site53/EZ-Level-2.dmm
  maps/site53/HCZ-Level-1.dmm
  maps/site53/site53-1.dmm
  maps/site53/site53-2.dmm
  maps/site53/site53-3.dmm
  maps/site53/site53-4.dmm
  maps/site53/site53-5.dmm
  maps/site53/site53-surface.dmm
  maps/site53/site53.dm
  maps/site53/site53.dmm
  maps/site53/site53_define.dm
  maps/site53/torch_access.dm
  maps/site53/z1_admin.dmm
Labels: Mapping, Priority: High, Test-Merged

#1813 Second Hunger Bar Removal
  code/modules/mob/living/carbon/human/life.dm
Labels: Code

#1814 173 Chamber Stair fix
  maps/site53/site53.dmm
Labels: Mapping

#1818 Fixes Cargo Stairs going nowhere
  maps/site53/site53.dmm
Labels: Mapping

#1821 Mountains in inappropriate places Fix
  maps/site53/site53.dmm
Labels: Mapping

#1812 TG Client Movement PR
  code/datums/movement/atom_movable.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/SCP/SCPs/SCP-096.dm
  code/modules/SCP/SCPs/SCP-106.dm
  code/modules/SCP/SCPs/SCP-173.dm
  code/modules/SCP/SCPs/SCP-343.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/mob/living/bot/remotebot.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/simple_animal/hostile/infestation/_infestation.dm
  code/modules/mob/living/simple_animal/hostile/infestation/floatfly.dm
  code/modules/mob/living/simple_animal/hostile/infestation/rhino.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
Labels: Code, Test-Merged
