Repository Foundation-19/Foundation-19, pull requests merged in 2024-02, with the labels that each got.

#1483 Fix getlogs commands.
  code/modules/admin/verbs/getlogs.dm
Labels: Code

#1454 Shrinks 2427's containment chamber
  maps/site53/site53-2.dmm
Labels: Mapping

#1461 SCP-049 upgrade
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/SCP/SCPs/SCP-049.dm
  code/modules/mob/grab/scp/grab_scp.dm
  code/modules/mob/grab/scp/scp_aggressive.dm
  code/modules/mob/grab/scp/scp_passive.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/outsider/scp049.dm
  code/modules/mob/living/carbon/human/species/outsider/scp049_1.dm
  code/modules/mob/living/carbon/resist.dm
  sounds/scp/voice/SCP049_Cure1.ogg
  sounds/scp/voice/SCP049_Cure2.ogg
Labels: Code, Sounds

#1457 RAISA adjustments
  code/game/antagonist/station/apostle.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/traitor.dm
  code/game/jobs/job/security.dm
Labels: Code

#1452 Fixing minor issue with White Night
  code/modules/SCP/Abnormalities/white_night.dm
Labels: Code, Bugfix

#1463 Paperwork database + improvements + ACS
  baystation12.dme
  code/_helpers/text.dm
  code/modules/asset_cache/assets/tgui.dm
  code/modules/codex/entries/paperwork.dm
  code/modules/modular_computers/file_system/programs/servers/upload_database_c.dm
  code/modules/paperwork/paper.dm
  html/acs.css
  maps/site53/items/SCP_dataserver.dm
  maps/site53/items/paperwork_dataserver.dm
  maps/site53/site53-1.dmm
Labels: Mapping, Code

#1484 Face Direction button
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/action.dm
  code/_onclick/hud/ai_screen_objects.dm
  code/_onclick/hud/ghost_screen_objects.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/mob/mob.dm
  code/modules/psionics/interface/ui.dm
  code/modules/species/species_hud.dm
  icons/hud/actions.dmi
  icons/hud/organs.dmi
  icons/hud/psi.dmi
  icons/hud/screen_ai.dmi
  icons/hud/screen_ghost.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  icons/mob/screen1_action.dmi
  icons/mob/screen1_old.dmi
  icons/mob/screen1_stats.dmi
  icons/scp-173.dmi
Labels: Sprites, Code

#1492 Removes unused GOC room.
  maps/site53/site53-2.dmm
Labels: Mapping

#1477 Adds scp-1507
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/lists/sound.dm
  code/modules/SCP/SCPs/SCP-1507.dm
  icons/SCP/scp-1507.dmi
  maps/site53/items/SCP_dataserver.dm
  maps/site53/site53areas.dm
  sounds/scp/1507/attack1.ogg
  sounds/scp/1507/attack2.ogg
  sounds/scp/1507/attack3.ogg
  sounds/scp/1507/attack4.ogg
  sounds/scp/1507/attack5.ogg
  sounds/scp/1507/attack6.ogg
Labels: Mapping, Sprites, Code, Sounds

#1495 Fixes area unit tests
  maps/site53/site53areas.dm
Labels: Mapping

#1498 Implements SCP-1507
  code/modules/SCP/SCPs/SCP-1507.dm
  code/modules/mob/holder.dm
  maps/site53/site53-2.dmm
  maps/site53/site53areas.dm
Labels: Mapping, Code

#1500 Fixes jobtime runtime
  code/game/jobs/job/jobtime.dm
Labels: Code

#1496 Automatic e-mail login
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
Labels: Code

#1473 Adds additional security+SCP access+Sec comms access for Containment Engineer
  code/datums/outfits/jobs/engineering.dm
  code/game/jobs/job/engineering.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
Labels: Code
